@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

// SECTION KIEVITWEB W05

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Exlig_eot_1647010887781/KievitWeb_W05_Exlig_9f805619-3496-478b-8957-fe24ce0682fd.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ChgAVFECYOx4Rf66EMze4FcsqjU%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Exlig_eot_1647010887781/KievitWeb_W05_Exlig_9f805619-3496-478b-8957-fe24ce0682fd.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ChgAVFECYOx4Rf66EMze4FcsqjU%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Exlig_woff2_1647010887793/KievitWeb_W05_Exlig_8e07a8fa-8faf-4947-a19c-fb2f8c5ff980.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=FzTaoLzp7P2I0l7waJk3MIO5ZQg%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Exlig_woff_1647010887815/KievitWeb_W05_Exlig_25aa9ddd-3359-4380-a4d4-8756b423ece9.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=klNUnVcI5Xc%2BT5gBc05QLTKIApw%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Exlig_ttf_1647010887787/KievitWeb_W05_Exlig_4866fa1e-c66a-45ac-b517-a8f4b395dda2.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=MBJzjOFYbL9GC8Hf%2Frk5XwnKUiM%3D")
            format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_ExligIta_eot_1647010950663/KievitWeb_W05_ExligIta_ddcceb06-9b3b-44b8-b16e-71d8a990ed97.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ODDRxgkbW5JO60XzlDEEZMT2vq0%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_ExligIta_eot_1647010950663/KievitWeb_W05_ExligIta_ddcceb06-9b3b-44b8-b16e-71d8a990ed97.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ODDRxgkbW5JO60XzlDEEZMT2vq0%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_ExligIta_woff2_1647010950668/KievitWeb_W05_ExligIta_20859577-893c-4c8a-b6ee-b3fe9f0148f3.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ybT5GG9vRH3fiEH9ZyNwD5EjMJU%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_ExligIta_woff_1647010950668/KievitWeb_W05_ExligIta_f1d1731b-1a91-495d-ab4e-2105af4372c3.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ddTHk%2FCvHRdgBCsQ6LymbIXxFBY%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_ExligIta_ttf_1647010950716/KievitWeb_W05_ExligIta_10c3f2ec-103c-4c6f-a669-a111a2c89667.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=%2BHMvWkB57D1okx6ypFPHgiAwoZs%3D")
            format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_LightIta_eot_1647011086173/KievitWeb_W05_LightIta_5844f132-76a8-416a-9cd3-a767fca95aac.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=nK5jNFszpXJo8rVsSwE8j7bhER8%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_LightIta_eot_1647011086173/KievitWeb_W05_LightIta_5844f132-76a8-416a-9cd3-a767fca95aac.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=nK5jNFszpXJo8rVsSwE8j7bhER8%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_LightIta_woff2_1647011086172/KievitWeb_W05_LightIta_e0d76419-49bc-4b3d-a473-6cbcf5ea503d.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=x7COxPH%2FmeMKqPGgW66vMHwcFG8%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_LightIta_woff_1647011086196/KievitWeb_W05_LightIta_df715508-c0a7-4e7c-80dd-201423b636e2.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=Fk4MZE1Fo%2F4LbmZWnczUwxnVu30%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_LightIta_ttf_1647011086173/KievitWeb_W05_LightIta_a53f4d4e-52cf-4d06-86ec-5ee59bb7dfe1.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=9a5ac%2BIrHvz7H2HDsdSF1KUqnQc%3D")
            format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Regular_eot_1647011210464/KievitWeb_W05_Regular_bab20ec4-422e-48d6-a00c-5380ac1acfce.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=3LYfXoMu9IFOuCejPtu2j24IrsU%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Regular_eot_1647011210464/KievitWeb_W05_Regular_bab20ec4-422e-48d6-a00c-5380ac1acfce.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=3LYfXoMu9IFOuCejPtu2j24IrsU%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Regular_woff2_1647011210496/KievitWeb_W05_Regular_3c7490d7-7290-4c0e-a027-a1e4b25a764c.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=sRVGfqCc40KWwhtwhPR7LwgC%2Fd4%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Regular_woff_1647011210531/KievitWeb_W05_Regular_c4609d90-6f8b-41d3-98f8-98cf3422b9b7.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=RA8nm9Dpi6wS2WXGaa9q%2FN7bbTc%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Regular_ttf_1647011210488/KievitWeb_W05_Regular_1e01006d-68d9-41f1-ac40-78325aa6b740.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=urFo5D%2FVtXfNzsxl8mtNSMfQ9xo%3D")
            format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Ita_eot_1647011025261/KievitWeb_W05_Ita_900346fb-bda2-4e81-abb7-b72eebd3f280.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=vEYD5c6cD1%2F6fNUNpxY5CxHNR5I%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Ita_eot_1647011025261/KievitWeb_W05_Ita_900346fb-bda2-4e81-abb7-b72eebd3f280.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=vEYD5c6cD1%2F6fNUNpxY5CxHNR5I%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Ita_woff2_1647011025271/KievitWeb_W05_Ita_d9ec6d04-7094-450b-ba23-e5b2015baa48.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=9sXVM%2FY5iFcmfVOQNavcG8730aI%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Ita_woff_1647011025270/KievitWeb_W05_Ita_82f62f15-3358-4dfb-9b79-9ffd6b3c6089.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=3gbL9NOcuwufBiY0I8xOcIbhspg%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Ita_ttf_1647011025295/KievitWeb_W05_Ita_e233c54f-212e-4521-88d3-caa6fb10482b.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=LZ2lTJ98MnilpB99DN0n%2FMJJqKQ%3D")
            format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Medi_eot_1647011140420/KievitWeb_W05_Medi_0d23352b-3964-46bd-b740-873a1340cf19.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=a62bDNiQu6N4k0W0eAZ13rqcD8o%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Medi_eot_1647011140420/KievitWeb_W05_Medi_0d23352b-3964-46bd-b740-873a1340cf19.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=a62bDNiQu6N4k0W0eAZ13rqcD8o%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Medi_woff2_1647011140385/KievitWeb_W05_Medi_8bc6ffdf-4c4b-4ad8-8140-17735f785f9e.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=269bCjkW214j6J%2Fy82k%2FDj7c4UY%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Medi_woff_1647011140401/KievitWeb_W05_Medi_2b1dc4f5-06c4-4a57-b4d3-0be707ca0792.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=bUaHuuopzOWP2LcokgwGmOJMa%2F4%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Medi_ttf_1647011140403/KievitWeb_W05_Medi_63b7ef4c-2d41-4445-a8fa-d66794f00a63.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=LGGVEM%2BcPQ0i0X2VzHN4z0HGYVs%3D")
            format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "KievitWeb W05";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Bold_eot_1647010608109/KievitWeb_W05_Bold_9c6a1114-e83f-4f10-9e84-25f2e5f1f3bc.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=xsxFy6tFgDes%2BswAW9XIEdFCWNE%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Bold_eot_1647010608109/KievitWeb_W05_Bold_9c6a1114-e83f-4f10-9e84-25f2e5f1f3bc.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=xsxFy6tFgDes%2BswAW9XIEdFCWNE%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Bold_woff2_1647010608140/KievitWeb_W05_Bold_5078e526-7e40-49bf-9b02-ff6448c6d587.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=TI4dp52u%2FHmzRdzGyLbYKzfEOZw%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Bold_woff_1647010608118/KievitWeb_W05_Bold_3e276e88-f772-440d-9abd-1f145ab0f5d9.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=vYSvm%2FrIpq6jBi5Zn3M%2BHg5JBkM%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/KievitWeb_W05_Bold_eot_1647010608109/KievitWeb_W05_Bold_9c6a1114-e83f-4f10-9e84-25f2e5f1f3bc.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=xsxFy6tFgDes%2BswAW9XIEdFCWNE%3D")
            format("truetype");
    font-weight: 700;
    font-style: normal;
}

// !SECTION KIEVITWEB W05

// SECTION AvenirLTPro
@font-face {
    font-family: "AvenirLTPro";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirNextLTPro_UltLt_eot_1647011762225/AvenirNextLTPro_UltLt_6bf8975f-f5ce-42f8-9ee4-bc8c2c16eef4.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=s844tBGgmk8Vem2izsa1M8cTaXw%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirNextLTPro_UltLt_eot_1647011762225/AvenirNextLTPro_UltLt_6bf8975f-f5ce-42f8-9ee4-bc8c2c16eef4.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=s844tBGgmk8Vem2izsa1M8cTaXw%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirNextLTPro_UltLt_woff2_1647011762235/AvenirNextLTPro_UltLt_d84f2972-7354-4352-9912-e4f7f23ea307.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=3DdIK3HFV14%2Flvc9aPOusDzj1sI%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirNextLTPro_UltLt_woff_1647011762255/AvenirNextLTPro_UltLt_c1aabe9c-dfb1-4aec-b201-cef0c58e3f6d.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=sr4V3jGHvJD37bKiboYjotL1nCI%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirNextLTPro_UltLt_ttf_1647011762236/AvenirNextLTPro_UltLt_6f4cbf9e-47b7-479e-b8ac-c3d850405cd4.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=Q2%2FXM0KT%2Fo5HgvcHKHbUPe%2BOhvI%3D")
            format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "AvenirLTPro";
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirLTPro_Light_eot_1647011465507/AvenirLTPro_Light_eede5161-aed6-45c9-98d8-d40ba5a443b9.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=3EExGodFWeSCHbrOAjyfavu6L58%3D");
    src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirLTPro_Light_eot_1647011465507/AvenirLTPro_Light_eede5161-aed6-45c9-98d8-d40ba5a443b9.eot?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=3EExGodFWeSCHbrOAjyfavu6L58%3D")
            format("embedded-opentype"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirLTPro_Light_woff2_1647011465536/AvenirLTPro_Light_409f048d-ba92-4c7a-8cf6-f5b7fac01191.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=pqWt7L9oiqqXYg6kyEA6YTjeP5o%3D")
            format("woff2"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirLTPro_Light_woff_1647011465515/AvenirLTPro_Light_db3c420f-4a21-4faf-aa9b-fecda92aa963.woff?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=qy6IadRQ6g24j0%2BolhEd%2B2eP7Qs%3D")
            format("woff"),
        url("https://s3.amazonaws.com/present.knowledgevision.com/account/a2350326-65ed-433e-8f31-62181dd6956f/content/assets/templates/template_background/AvenirLTPro_Light_ttf_1647011465508/AvenirLTPro_Light_51eb699f-1113-42eb-b62f-5242ef8fecb6.ttf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=K%2FaTdemYYDTIHQtRbznWoBuZ4LE%3D")
            format("truetype");
    font-weight: 300;
    font-style: normal;
}
// !SECTION AvenirLTPro

:root {
  --login-bkg: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/img_home_herobg_esg1_1647008620456/img_home_herobg_esg1_3a6f2525-2daf-470f-ad20-2e229a1785fd.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=HOOTiT6jtFLsMkaXc7u6pko7M%2Fg%3D");
  --primary-color: #ffffff;
  --header-button-color: #ffffff;
  --header-gradient: linear-gradient(90deg, #003657 0, rgba(0, 54, 87, 0.2) 75%);
}

///////////////////////////////////////
// set global variables //
///////////////////////////////////////
$navy: #002a54;
$navy: #002a54;
$blue: #002E72;
$light-blue: #056DAE;

$primary-font: "KievitWeb W05", Arial, sans-serif;
$primary-accent: $navy;
$link-color: $blue;
$link-hover: $light-blue;
$white: #fff;
$black: #000;
$off-white: #fafafa;
$off-black: #333333;
$grey: #bfbfbf;
$light-grey: #e2e2e2;
$dark-grey: #707070;

@mixin aspect-ratio-image($x, $y) {
  padding-bottom: unquote( ( $y / $x ) * 100 + '%' );
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;

  img:not(.play-hover-button),
  iframe,
  video {
    position: absolute;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
    object-fit: contain;
    object-position: center;
    max-width: unset;
    max-height: unset;
  }
}

html {
  font-family: "KievitWeb W05", Arial, sans-serif;
  font-size: 16px;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "KievitWeb W05", Arial, sans-serif;
  font-size: 1rem;
}

#page-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 6rem;
  padding-bottom: 0;

  #main_navigation {
    border-bottom: none;

    > .container-fluid {
      padding-right: 66px;

      @media screen and (max-width: 767px) {
        padding-right: 15px;
      }
    }

    .navbar-brand {
      position: static;
      height: 6rem;
      padding: 1rem;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: calc(50% - 18px);
      //   right: 15px;
      //   width: 36px;
      //   height: 36px;
      //   background: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/36cdf10e15ec4f3f9f7873eba25d1892_png_1626267367991/36cdf10e15ec4f3f9f7873eba25d1892_d424f3a8-595f-4f3c-b613-f61b981376f3.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=XGzAPE5Gf2H8%2BEcODx%2FY3eVy1N0%3D") no-repeat;
      //   background-size: contain;
      //   z-index: 1;
      //
      //   @media screen and (max-width: 767px) {
      //     content: none;
      //   }
      // }

      .showcase-logo {
        max-height: 45px;
      }
    }
  }

  #main_navigation_collapse {
    margin-top: 2.1875rem;

    @media screen and (min-width: 768px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-flow: row-reverse;
              flex-flow: row-reverse;
    }

    .nav:nth-of-type(2) li > a {
      padding-top: 0.375rem;
    }

    .nav:nth-of-type(2) li > .btn-group {
      display: flex;
      align-items: center;
    }

    .nav:nth-of-type(2) li > .btn-group a, .nav:nth-of-type(2) li > .btn-group button, .nav:nth-of-type(2) li > a {
      font-family: $primary-font;
      font-size: 1rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    .nav:nth-of-type(2) li > .btn-group .dropdown-menu li a {
      padding: .5rem;
    }

    .nav:nth-of-type(2) li > .btn-group button {
      display: flex;
      justify-content: center;
      align-items: center;

      .glyphicon {
        color: #ffffff !important;
      }
    }

    .nav {
      #search-btn {
        width: 1.625rem;
        height: 1.625rem;
        margin: 0 0.9375rem;

        .fa-search {
          font-size: 1.625rem;
        }
      }

      #user-options-dropdown {
        margin-top: -0.125rem;

        .dropdown-toggle {
          padding: 0 0.9375rem;
        }
      }
    }
  }

  header:nth-child(3) {
    .header-container {
      .row {
        .showcase-description {
          padding-top: 1rem;

          ul {
            padding-left: 0;

            &:not(:last-of-type) {
              border-bottom: 1px solid #ffdede;
              padding-bottom: 1.5rem;
              margin-bottom: 1.5rem;
            }

            li {
              font-size: 1rem;
              margin-left: 1rem;
              list-style-type: none;
            }

            li:first-child {
              font-size: 1.5rem;
              margin-left: 0;
              margin-bottom: .25rem;
            }
          }
        }
      }
    }
  }

  > .container:not(.login-container) {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(0deg, #00578E 270px, #00578E 100%);
    padding: 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url('https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/wrapper_pattern_static__1___1__png_1647015583984/wrapper_pattern_static__1___1__ff9f036e-4947-4c5d-9b9c-7ace53520183.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=sVMsUfi80FDme7GKkrp%2BRKndyvg%3D');
      background-size: cover;
      background-position: center;
      top: 0;
      left: 0;
    }

    .featured-knovio {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      max-width: 104rem;
      width: 100%;
      max-height: 100%;
      height: auto;
      margin: 0 auto;
      gap: 2rem;
      padding: 4.5rem 0;
      z-index: 10;
      position: relative;

      &:before {
        display: none;
      }

      @media screen and (max-width: 767px) {
        max-width: 100%;
      }

      @media screen and (min-width: 768px) {
        max-width: 45.875rem;
      }

      @media screen and (min-width: 992px) {
        max-width: 59rem;
      }

      @media all and (min-width: 1200px) {
        max-width: 65.875rem;
      }

      @media all and (min-width: 1500px) {
        max-width: 84.625rem;
      }

      @media all and (min-width: 1800px) {
        max-width: 103.375rem;
      }

      .featured-knovio-post {
        max-height: none;
        height: 100%;
        -webkit-box-shadow: none;
                box-shadow: none;
        width: 60%;

        .KnowledgeVisionEmbeddedContent {
          position: relative;
          width: 100%;
          height: 0 !important;
          padding: 56.25% 0 0;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        &:after {
          content: '';
          display: block;
          background: #e31837;
          border-radius: 50%;
        }

        @media (max-width: 770px) {
          width: 90%;
          margin: 0 auto;
        }
      }

      .featured-knovio-info {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        width: 40%;
        margin-left: 0;

        @media (max-width: 1500px) {
          max-height: 400px;
        }

        .featured-knovio-title {
          color: #fff;
          font-size: 2.5rem;
          line-height: 1.3;
          font-weight: 300;
          padding-bottom: .5rem;
          margin-top: 0 !important;
        }

        .featured-knovio-description {
          color: #e3e3e3;
          font-size: 1.25rem;
          line-height: 1.5;
          font-weight: 300;
          padding-right: .75rem;

          &::-webkit-scrollbar {
          width: 8px;
          z-index: 3;
          background-color: rgba(255,255,255,0);
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(255,255,255,0);
          z-index: 3;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -o-box-shadow: inset 0 0 #e2e2e2;
          -webkit-box-shadow: inset 0 0 #e2e2e2;
          background: $grey;
          z-index: 3;
        }
        }

        @media screen and (max-width: 767px) {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          margin-bottom: 0;
        }

        @media (max-width: 770px) {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }

  #showcase_category {
    height: auto;
    display: block;
    padding-bottom: 0;
  }

  .featured-category {
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
    overflow: visible;
    background: #fbfbfb;

    > .container:not(.posts) {
      .row {
        margin: 0;

        .col-xs-9 {
          padding: 0;
          text-align: left;
          width: 100%;

          .featured-category-title-link {

            .showcase-title {
              padding: 0;
              margin-bottom: 2rem;
              font-family: "KievitWeb W05", Arial, sans-serif;
              font-size: 1.5rem;
              font-weight: 400;
              color: rgba(0,54,87,1) !important;
            }
          }
        }

        .col-xs-2 {
          display: none;
        }
      }
    }

    .container.posts {
      .row {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: 0;

        .carousel-control {
          color: rgba(0,54,87,1) !important;
        }
      }

      .item.active, .item.prev, .item.next {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        @media screen and (max-width: 639px) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column;
                  flex-flow: column;
        }
      }
    }
  }

  .list-view-item .post .thumb-wrapper .thumb-link .thumb, .column-view-item .post .thumb-wrapper .thumb-link .thumb {
    padding: 1rem;
  }

  .list-view-item {
    margin-top: 4rem;
    padding: 0 0.9375rem;
    background: #ffffff;

    &:first-of-type {
      margin-top: 0;
    }

    .post {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;

      .thumb-wrapper {
        position: static;
        display: block;
        width: 25%;
        height: auto;
        -webkit-box-shadow: 0.125rem 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.13);
                box-shadow: 0.125rem 0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.13);
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        background: none;

        &:hover {
          -webkit-box-shadow: 0.625rem 0.75rem 2.125rem 0 rgba(0, 0, 0, 0.13);
                  box-shadow: 0.625rem 0.75rem 2.125rem 0 rgba(0, 0, 0, 0.13);
        }

        .thumb-link {
          position: relative;
          display: block;
          width: 100%;
          padding: 56.25% 0 0;
          overflow: hidden;
          background-color: #ffffff;
        }
      }

      .thumb-meta-wrapper {
        width: 75%;
        height: auto;
        margin: 0;
        padding-left: 4rem;

        .tile-text-area {
          padding: 0;

          .post-details-activate {
            .tile-title,
            .tile-title a {
              font-family: "KievitWeb W05", Arial, sans-serif;
              font-size: 1.5rem;
              line-height: 2.25rem;
              color: #222222 !important;
              pointer-events: none;

              &:hover {
                color: #012169 !important;
              }
            }

            .tile-title {
              height: auto !important;
            }

            .page-description {
              margin-top: 1rem;

              .list-page-description {
                overflow: visible;
                font-size: 1.25rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }

      &:not([data-verifier="0"]) .post-details-activate {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        pointer-events: none;

        .post-details-icon {
          position: static;
          display: block !important;
          height: 0;
          width: 11.25rem;
          margin-top: 1.5rem;
          padding-bottom: 3rem;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          pointer-events: all;

          &::before {
            content: "View Session Info";
            padding: 0.75rem 1.5rem;
            font-family: "Raleway", Arial, sans-serif;
            font-size: 0.875rem;
            font-weight: 500;
            background: #186ade;
            color: white;
            -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
          }

          &:hover {
            &::before {
              background: #58575a;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-flow: column !important;
                flex-flow: column !important;

        .thumb-wrapper {
          width: 100% !important;
          margin-bottom: 1rem !important;
        }

        .thumb-meta-wrapper {
          width: 100% !important;
          padding: 0 !important;
        }
      }
    }
  }

  .column-view-item {
    padding: 0 1rem 1rem;

    .post {
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: 1px solid #DDDDDD;
      box-shadow: none !important;

      @media screen and (min-width: 640px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
      }


      .thumb-wrapper {
        position: static;
        width: 100%;
        height: auto;
        float: none;
        background: none;

        .thumb-link {
          background-color: #ffffff;
          @include aspect-ratio-image(3, 2);
        }
      }

      .thumb-meta-wrapper {
        height: 100%;
        width: 100%;
        float: none;
        background-color: #ffffff;
        transition: all .2s ease-in-out;

        .tile-text-area {
          padding: 1.5rem 1.25rem;
          padding-bottom: 3rem;

          .post-details-activate {
            height: min-content;
            min-height: unset;
          }
        }

        .tile-title,
        .tile-title a {
          font-family: "KievitWeb W05", Arial, sans-serif;
          font-size: 1.25rem;
          font-weight: 300;
          color: #222222 !important;
          height: max-content !important;

          &:hover {
            color: #012169 !important;
          }
        }
      }
    }

    &:hover {
      .post .thumb-meta-wrapper {
        background-color: rgba(0,54,87,1);

        .tile-title,
        .tile-title a {
          color: #ffffff !important;
        }
      }
    }
  }

  .newLabel {
    z-index: 3;
  }
}

#page-top #url-auth-suffix {
  ~ header {
      padding-top: 0!important;

    .container.header-container {
      max-width: unset;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      position: relative;

      .row {

        span.showcase-description {
          padding: 3rem 0!important;
          margin-bottom: 20px;
          position: relative;
          max-width: 104rem;
          width: 100%;
          max-height: 100%;
          margin: 0 auto;
          min-height: 300px;
          z-index: 2;
          text-align: left;
          display: block;

          @media screen and (max-width: 767px) {
            max-width: 100%;
          }

          @media screen and (min-width: 768px) {
            max-width: 45.875rem;
          }

          @media screen and (min-width: 992px) {
            max-width: 59rem;
          }

          @media all and (min-width: 1200px) {
            max-width: 65.875rem;
          }

          @media all and (min-width: 1500px) {
            max-width: 84.625rem;
          }

          @media all and (min-width: 1800px) {
            max-width: 103.375rem;
          }

          p {
            font-size: 1.5rem;

            span {
              font-family: "KievitWeb W05", sans-serif;
              font-weight: 300;
              display: block;
              margin-bottom: .5rem;
            }
          }

          p:first-child {
            font-family: "AvenirLTPro", sans-serif !important;
            font-size: 1rem;
            margin-bottom: 0;
          }

          p:nth-child(2) {
            font-size: 4rem;
            font-weight: 300;
          }

          p:nth-child(3) {
            margin-bottom: 1.5rem;
          }

          p:nth-child(4) {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }

          p:last-child a {
            color: var(--header-button-color);
            border: 1px solid var(--header-button-color);
            background-color: transparent;
            font-size: 1rem;
            text-decoration: none !important;
            padding: 1rem 1.5rem;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            white-space: normal;
            letter-spacing: 2px;
            border-radius: 2px;
            font-weight: 400;
            line-height: 14px;
            display: inline-block;

            &:hover {
              background-color: #fff;
              color: #00578E !important;
            }
          }
        }
      }
    }
  }
}

/* styles for header */
@media (min-width: 768px) {
    .img-responsive.showcase-banner {
      margin: 0;
      position: absolute;
      z-index: -1;
      object-fit: cover;
      object-position: left;
      width: 100%;
      height: 100%;
      left: 0;
      display: block;
      max-height: unset!important;
    }

    #page-top #url-auth-suffix ~ header .container.header-container .row > .col-xs-12:before {
      display: block;
      content: '';
      background: var(--header-gradient);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 0;
      right: 0;
    }

    span.showcase-description p {
      max-width: 75%;
      font-size: 3rem;
      margin-right: auto;
      color: #ffffff;
      font-weight: 300;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-responsive.showcase-banner {
    left: -3rem;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(2) {
    font-size: 3rem;
  }

  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p {
    font-size: 1.25rem;
  }

  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(4), #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:last-child a {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(2), #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p,
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(4), #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:last-child a {
    text-align: left;
    margin-left: 0;
    max-width: 100%;
  }

  .img-responsive.showcase-banner {
    max-width: unset;
    margin-left: -15px;
    margin-right: -15px;
  }
}

#page-top #url-auth-suffix ~ header .showcase-title {
  display: none;
}

#page-top #url-auth-suffix ~ header .container.header-container .row > .col-xs-12 {
  overflow: hidden;
}

.modal {
  #postDetailsImage {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .post-details-title {
    color: #186ade;
  }

  .details-speaker-image-wrapper {
    display: none;
  }

  .details-speaker-metadata,
  .details-speaker-description {
    margin-left: 0;
  }

  #postDetailsMetadata,
  #postDetailsDescription {
    display: none;
  }
}

/* login */
#page-top #main_navigation:first-child {
  display: none;
}

#page-top .login-container {
  margin: 0;
  height: 100vh;
  width: 100% !important;
  background-image: var(--login-bkg);
  background-size: cover;
  background-position: top right;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: unset;
  position: absolute;
  z-index: 10;

  @media (max-width: 350px) and (max-width: 350px) {
    max-width: 300;
  }

  .btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    transition: filter .2s ease-in-out;
    filter: brightness(1);
    width: 100%;
    text-transform: uppercase;
    font-family: "KievitWeb W05", sans-serif;
    color: rgba(0,54,87,1) !important;

    &:hover {
      filter: brightness(.75);
    }
  }

  > .row {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    transform: translate(-50%, 0);
    margin-top: 60px !important;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      max-width: 350px;
      margin: 0 auto;
    }

    @media (max-width: 450px) {
      position: unset;
      left: unset;
      transform: unset;
      display: block;
      padding-bottom: 100px;
    }

    > div {
      margin: 0;
      background: rgba(0,54,87,1);
      overflow-y: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      h3 {
        font-family: "KievitWeb W05", Arial, sans-serif;
        text-align: left;
        color: #ffffff;
        font-size: 1.75rem;
        font-weight: 300;
        margin-bottom: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #fff;
        width: 100%;
        display: flex;
        align-items: center;
      }

      p {
        margin-bottom: 1rem;
        font-weight: 300;
        line-height: 1.7;
        color: $white !important;
        font-family: "KievitWeb W05", Arial, sans-serif;

        br {
          display: none;
        }

        &:empty {
          display: none;
        }
      }

      span, a {
        font-family: "KievitWeb W05", Arial, sans-serif;
        color: $black;
      }

      > .row {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        width: 100%;

        img {
          max-width: 100% !important;
          margin: 0;
          width: 100%;

          @media (max-width: 1100px) {
            max-height: 100px !important;
          }
        }
      }

      form {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: .75rem;
        order: 2;
        width: 100%;
        padding-top: 1.25rem;
        padding-bottom: 2rem;
        border-top: 1px solid var(--primary-color);

        .form-group {
          grid-column: auto / span 2;
          position: relative;
          font-family: "KievitWeb W05", Arial, sans-serif;
          color: #ffffff;
          grid-column: 1 / span 4;
          font-weight: 300;

          &:first-child {
            grid-column: 1 / span 2;
          }

          &:nth-child(2) {
            grid-column: 3 / span 2;
          }

          > span,
           label span {
            color: red;
          }

          label {
            margin-bottom: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            margin-bottom: .25rem;
            color: #ffffff;
            font-family: "KievitWeb W05", Arial, sans-serif;
            font-weight: 300;
          }

          input, select {
            position: relative;
            z-index: 1;
            background-color: #ffffff;
            border: 1px solid #e3e3e3;
            transition: z-index .15s ease-in-out, background-color .15s ease-in-out;

            &:focus {
              background-color: #fff;
              box-shadow: none;
              -webkit-box-shadow: none;
            }

            &:focus,
            &:valid {
              z-index: 3;
            }
          }
        }

        @media (max-width: 768px) {
          display: grid;
          grid-template-columns: repeat(1, minmax(0, 1fr));
          gap: 1rem;

          .form-group {
            grid-column: auto / span 1!important;
          }
        }
      }
    }
  }
}

footer {
  background-color: #001B2B;
  margin-top: auto;

  .container {
    .footer-container {
      padding: 1.5rem 0;

      p {
        margin: 0;
        color: #fff;
        font-family: $primary-font;
        font-weight: 400;
      }

      p:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }
}

#page-top:not(.single-post) {
  #custom-fields-data + #main_navigation {
    ~ header {
      background: url('https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/img_home_herobg_esg1_1647008620456/img_home_herobg_esg1_3a6f2525-2daf-470f-ad20-2e229a1785fd.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=HOOTiT6jtFLsMkaXc7u6pko7M%2Fg%3D');
      background-size: cover;
      background-position: center;
      padding: 0;
      margin-bottom: 3rem;

      &::before {
        background: linear-gradient(90deg, #003657 0, rgba(0, 54, 87, 0.2) 75%);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        z-index: 2;
      }

      .header-container {
        position: relative;
        z-index: 5;
      }
    }
  }
}

#page-top .column-view-item .post .thumb-meta-wrapper .tile-title {
  word-break: break-word !important;
}

#showcase_category_post {
  padding-top: 0;
}
