@import url("https://use.typekit.net/zke5hab.css");
@import url("https://taylorlancaster12.github.io/oe_css_themes/citi.css");

:root {
  --login-bkg: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/citi_theme_login_bkg_2_jpg_1622745127049/citi_theme_login_bkg_2_e880fc5d-78f1-4f23-b71b-dcd9d0017ab4.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=1Bt30vdAIs24cqQA7UaAeOkO1Wk%3D");
  --header-button-color: #005aa1;
  --header-button-hover: #002D72;
  --login-image-anchor: bottom left;
  --banner-image-anchor: top right;
}

/* Styles for header on safari */
@media not all and (min-resolution:.001dpcm) {
    @media (min-width: 873px) {
        #page-top header .header-container .row .col-xs-12 {
            max-height: 350px !important;
        }
    }
    @media (min-width: 873px) and (max-width: 1050px) {
        #page-top header .header-container .row .col-xs-12 {
            max-height: 450px !important;
        }
    }
    @media (min-width: 767px) and (max-width: 872px) {
        #page-top header .header-container .row .col-xs-12 {
            max-height: 550px !important;
        }
    }
}
