/* Variable setup */
:root {
  --primary-color: #064346;
  --secondary-color: #488380;
  --primary-font: 'Poppins', arial, sans-serif;
  --gradient: linear-gradient(to bottom, #064346, #488380);
  --border-image: url('https://s3.amazonaws.com/present.knowledgevision.com/account/9f4f9167-a580-4799-a037-60298a8295fb/subaccount/baea42b6-c330-4cf4-83a5-2f19da7f90f3/content/assets/templates/template_background/border_image_png_1634077199075/border_image_bc619407-3f92-4b67-895a-0f321e152c8b.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=pr0Kcb2tz3IYiSsbvG9nIXv6wwM%3D');
}

html {
  font-size: 12px;
  font-family: var(--primary-font);
}

div, a, p, span, h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}

body#page-top {
  padding-bottom: 0;
}

#page-top #url-auth-suffix ~ #showcase_category .col-lg-1, #page-top #url-auth-suffix ~ #showcase_category .col-lg-10, #page-top #url-auth-suffix ~ #showcase_category .col-lg-11, #page-top #url-auth-suffix ~ #showcase_category .col-lg-12, #page-top #url-auth-suffix ~ #showcase_category .col-lg-2, #page-top #url-auth-suffix ~ #showcase_category .col-lg-3, #page-top #url-auth-suffix ~ #showcase_category .col-lg-4, #page-top #url-auth-suffix ~ #showcase_category .col-lg-5, #page-top #url-auth-suffix ~ #showcase_category .col-lg-6, #page-top #url-auth-suffix ~ #showcase_category .col-lg-7, #page-top #url-auth-suffix ~ #showcase_category .col-lg-8, #page-top #url-auth-suffix ~ #showcase_category .col-lg-9, #page-top #url-auth-suffix ~ #showcase_category .col-md-1, #page-top #url-auth-suffix ~ #showcase_category .col-md-10, #page-top #url-auth-suffix ~ #showcase_category .col-md-11, #page-top #url-auth-suffix ~ #showcase_category .col-md-12, #page-top #url-auth-suffix ~ #showcase_category .col-md-2, #page-top #url-auth-suffix ~ #showcase_category .col-md-3, #page-top #url-auth-suffix ~ #showcase_category .col-md-4, #page-top #url-auth-suffix ~ #showcase_category .col-md-5, #page-top #url-auth-suffix ~ #showcase_category .col-md-6, #page-top #url-auth-suffix ~ #showcase_category .col-md-7, #page-top #url-auth-suffix ~ #showcase_category .col-md-8, #page-top #url-auth-suffix ~ #showcase_category .col-md-9, #page-top #url-auth-suffix ~ #showcase_category .col-sm-1, #page-top #url-auth-suffix ~ #showcase_category .col-sm-10, #page-top #url-auth-suffix ~ #showcase_category .col-sm-11, #page-top #url-auth-suffix ~ #showcase_category .col-sm-12, #page-top #url-auth-suffix ~ #showcase_category .col-sm-2, #page-top #url-auth-suffix ~ #showcase_category .col-sm-3, #page-top #url-auth-suffix ~ #showcase_category .col-sm-4, #page-top #url-auth-suffix ~ #showcase_category .col-sm-5, #page-top #url-auth-suffix ~ #showcase_category .col-sm-6, #page-top #url-auth-suffix ~ #showcase_category .col-sm-7, #page-top #url-auth-suffix ~ #showcase_category .col-sm-8, #page-top #url-auth-suffix ~ #showcase_category .col-sm-9, #page-top #url-auth-suffix ~ #showcase_category .col-xs-1, #page-top #url-auth-suffix ~ #showcase_category .col-xs-10, #page-top #url-auth-suffix ~ #showcase_category .col-xs-11, #page-top #url-auth-suffix ~ #showcase_category .col-xs-12, #page-top #url-auth-suffix ~ #showcase_category .col-xs-2, #page-top #url-auth-suffix ~ #showcase_category .col-xs-3, #page-top #url-auth-suffix ~ #showcase_category .col-xs-4, #page-top #url-auth-suffix ~ #showcase_category .col-xs-5, #page-top #url-auth-suffix ~ #showcase_category .col-xs-6, #page-top #url-auth-suffix ~ #showcase_category .col-xs-7, #page-top #url-auth-suffix ~ #showcase_category .col-xs-8, #page-top #url-auth-suffix ~ #showcase_category .col-xs-9, #page-top #url-auth-suffix ~ #showcase_category .container.posts .column-view-item, #page-top #url-auth-suffix ~ #showcase_category .container.posts .column-view-item .post, #page-top #url-auth-suffix ~ #showcase_category .column-view-item > .post, #page-top #url-auth-suffix ~ #showcase_category .container.posts .column-view-item .post, #page-top #url-auth-suffix ~ #showcase_category .container:before, #page-top #url-auth-suffix ~ #showcase_category .row:after, #page-top #url-auth-suffix ~ #showcase_category .row:before, #page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post {
  all: unset;
}

#page-top #url-auth-suffix ~ #showcase_category .container .row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin: 0;
  width: 100%;
}

@media (max-width: 767px) {
  #page-top #url-auth-suffix ~ #showcase_category .container .row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.container .featured-knovio.row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  border: 1px solid #000;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .container .featured-knovio.row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.container .featured-knovio.row .featured-knovio-post {
  grid-column: 1 / span 6;
  width: unset;
  max-height: 100%;
  height: 350px;
  display: block;
  box-shadow: none;
}

@media (max-width: 767px) {
  .container .featured-knovio.row .featured-knovio-post {
    height: unset;
  }
}

.container .featured-knovio.row .featured-knovio-info {
  grid-column: auto / span 6;
  width: unset;
  height: 100%;
  margin: 0;
  color: #f2f2f2;
  max-height: 350px;
  padding: 3rem;
  position: relative;
}

.container .featured-knovio.row .featured-knovio-info::before {
  display: block;
  content: "";
  min-height: 1px;
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 16px 0;
  background-image: linear-gradient(to bottom, transparent, #2e2e2e);
  z-index: 1;
}

.container .featured-knovio.row .featured-knovio-info .featured-knovio-title {
  font-family: 'Poppins', arial, sans-serif;
  margin: 0 0 2rem 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 600;
}

.container .featured-knovio.row .featured-knovio-info .featured-knovio-description {
  font-family: 'Poppins', arial, sans-serif;
  line-height: 1.7;
  padding-bottom: 1rem;
}

.container .featured-knovio.row .featured-knovio-info .featured-knovio-description::-webkit-scrollbar {
  width: 8px;
}

.container .featured-knovio.row .featured-knovio-info .featured-knovio-description::-webkit-scrollbar-track {
  background: transparent;
}

.container .featured-knovio.row .featured-knovio-info .featured-knovio-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 #666;
  background: #666;
}

#page-top {
  background: url("https://s3.amazonaws.com/present.knowledgevision.com/account/09d6d722-8ba5-44e5-8371-ce099776ecdf/content/assets/templates/template_background/black_texture_bkg_jpg_1621040497353/black_texture_bkg_cc64dddb-f3d9-47d5-b862-343720b81b40.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=KJes8ctHgM9LJHZTRYpoqf7yb7Q%3D");
  background-size: cover;
}

#page-top .navbar-default {
  border-color: #a0163d;
}

#page-top .header-container {
  max-width: unset;
  margin: 0;
  width: 100%;
}

#page-top .header-container .col-xs-12 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 4rem;
}

#page-top .header-container .col-xs-12 .video-container {
  height: 50vh;
  width: 100%;
}

#page-top .header-container .col-xs-12 .video-container::before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(to bottom right, #a0163d, #f58220);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: .5;
}

#page-top .header-container .col-xs-12 .video-container video {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page-top .header-container .col-xs-12 .showcase-banner {
  position: absolute;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  padding: 1rem;
  padding-bottom: calc(1rem + 62px);
}

#page-top .header-container .col-xs-12 .showcase-title {
  position: absolute;
  z-index: 3;
  color: white !important;
  font-family: cinzel, serif;
  font-size: 10rem;
}

#page-top .header-container .col-xs-12 .showcase-description {
  display: block;
  width: 100%;
  background-color: #2e2e2e;
  color: #fefefe;
  padding: 2rem !important;
  text-align: center;
  font-family: "Poppins", arial, sans-serif;
  line-height: 1.7;
  font-size: 2rem;
  margin-bottom: 0;
  z-index: 3;
}

#page-top .header-container .col-xs-12 .showcase-description p {
  color: #f2f2f2;
  text-shadow: 3px 3px 6px #000;
  font-size: 1.75rem;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  max-height: 500px;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  filter: brightness(0.9);
  transition: filter .25s ease;
  border-bottom: none;
  display: block;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-wrapper .thumb-link {
  display: block;
  max-height: 500px;
  height: 100%;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-wrapper .thumb-link .thumb {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area {
  padding: 0;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.link-header .tile-title, #page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.link-header .tile-title a,
#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.post-details-activate .tile-title,
#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.post-details-activate .tile-title a {
  height: unset !important;
  color: white !important;
  text-shadow: 5px 5px 5px #2a2a2a;
  font-size: 6rem;
  margin-bottom: .66667rem;
  padding: .25rem 0;
  font-family: 'Cinzel';
  line-height: 1.7;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.link-header .tile-title a,
#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.post-details-activate .tile-title a {
  border-top: 2px solid #fefefe;
  border-bottom: 2px solid #fefefe;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.post-details-activate {
  color: #f2f2f2;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post .thumb-meta-wrapper .tile-text-area .tile-header-ellipsis.post-details-activate .post-details-icon {
  right: 0px;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post:hover .thumb-wrapper {
  filter: brightness(1.2);
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts .row .column-view-item .post:hover .thumb-wrapper .play-hover-button {
  opacity: 1 !important;
}

.tile-area {
  visibility: hidden;
}

.tile-area .left-container {
  display: none;
}

.tile-area .tile-navigation-link {
  visibility: visible;
  position: fixed !important;
  bottom: .75rem;
  left: 1.75rem;
}

.tile-area .tile-navigation-link .title {
  color: #a0163d;
  filter: brightness(1.25);
}

@media (max-width: 767px) {
  #page-top #showcase_category .container.posts .column-view-item .post .thumb-wrapper {
    display: flex;
    border-right: none;
  }
  #page-top #showcase_category .container.posts .column-view-item .post .thumb-wrapper .thumb-link {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  #page-top #showcase_category .container.posts .column-view-item .post .thumb-wrapper .thumb-link .thumb {
    max-height: unset;
    max-width: unset;
    object-fit: cover;
    display: flex;
    object-position: center;
  }
  .navbar-collapse {
    position: fixed;
    bottom: -100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100vw;
    transition: all 0.15s ease;
    display: block !important;
    height: auto !important;
    z-index: 1;
    background: #000;
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-left: -15px  !important;
    left: auto !important;
    transition: all 0.15s ease  !important;
  }
  .navbar-collapse.in {
    bottom: calc(5rem - 2px);
    transition: 0.15s ease !important;
  }
  .navbar-default button.navbar-toggle {
    position: fixed;
    bottom: -1px;
    width: 100%;
    background: #000;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 5rem;
    border: none !important;
    border-top: 1px solid #a0163d !important;
  }
  .navbar-default button.navbar-toggle:hover {
    border-top: 1px solid #a0163d !important;
  }
  .navbar-default .navbar-collapse {
    border-color: #a0163d;
  }
  #main-search-form {
    max-width: unset !important;
  }
  #main-search-form .search-form-head {
    position: unset;
    width: unset;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .navbar-default #search-btn {
    background: transparent !important;
  }
  .tile-area {
    visibility: visible;
  }
  .tile-area .left-container {
    display: table-cell;
  }
  .tile-area .left-container #page-title {
    color: #f2f2f2;
  }
  #page-top .header-container .col-xs-12 {
    padding: 0;
  }
  .navbar-default .navbar-header .navbar-brand.text-brand {
    width: 100%;
  }
  .carousel-inner {
    max-width: 75%;
    margin: 0 auto;
  }
  .featured-category .featured-post .post .thumb-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-right: none;
  }
  .featured-category .featured-post .post .thumb-wrapper .thumb-link {
    height: 100%;
    display: block;
  }
  .featured-category .featured-post .post .thumb-wrapper .thumb-link .thumb {
    max-width: 100%;
    max-height: 100%;
    width: 100% !important;
    object-fit: cover;
  }
  .featured-category .pull-right {
    display: none;
  }
  .featured-category .carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset;
  }
  .featured-category .carousel-control.right {
    right: 0;
  }
  .featured-category .carousel-control.left {
    left: 0;
  }
  .featured-category .carousel-control .glyphicon {
    position: unset;
    top: unset;
  }
}

#main_navigation .nav > li > a {
  font-family: "Poppins", arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: opacity .25s ease;
}

#main_navigation .nav > li > a:hover {
  opacity: 0.8;
}

/* featured cat grid */
#page-top:not(.single-post) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) [4];
  grid-template-columns: repeat(4, minmax(0, 1fr));
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  gap: 2rem;
  margin-bottom: 0;
  padding-top: 4rem;
  padding-bottom: 0;
}

#page-top:not(.single-post) header {
  padding: 0;
}

#page-top:not(.single-post) > * {
  grid-column: auto / span 4;
}

#page-top:not(.single-post) > .container:not(.login-container) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) [2];
  grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio::before, #page-top:not(.single-post) > .container:not(.login-container) .featured-knovio::after {
  content: none;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio > * {
  max-width: 100%;
  width: 100%;
  max-height: none;
  height: unset;
  margin: 0;
  grid-column: auto / span 2;
}

@media screen and (min-width: 992px) {
  #page-top:not(.single-post) > .container:not(.login-container) .featured-knovio > * {
    grid-column: auto / span 1;
  }
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio .featured-knovio-post {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding-top: 56.25%;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio .featured-knovio-info {
  gap: 1rem;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-title {
  margin: 0;
  padding: 0;
}

#page-top:not(.single-post) > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-description {
  margin: 0;
}

#page-top:not(.single-post) .featured-category {
  border: none;
  margin: 0 auto;
  padding: 0;
}

#page-top:not(.single-post) .featured-category .container:not(.posts) > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

#page-top:not(.single-post) .featured-category .container:not(.posts) > .row .col-xs-9 {
  width: unset;
  padding: 0;
  margin-right: 4rem;
}

#page-top:not(.single-post) .featured-category .container:not(.posts) > .row .col-xs-9 a .showcase-title {
  margin-bottom: 0;
}

#page-top:not(.single-post) .featured-category .container:not(.posts) > .row .col-xs-2.pull-right {
  width: unset;
  padding: 0;
}

#page-top:not(.single-post) .featured-category .container:not(.posts) > .row .col-xs-2.pull-right a {
  padding: 0.5rem 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 2rem;
  outline: none;
}

#page-top:not(.single-post) .featured-category .carousel-inner .item.active,
#page-top:not(.single-post) .featured-category .carousel-inner .item.next,
#page-top:not(.single-post) .featured-category .carousel-inner .item.prev {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;
  padding: 0.5rem 0.9375rem;
}

@media screen and (min-width: 992px) {
  #page-top:not(.single-post) .featured-category .carousel-inner .item.active,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.next,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.prev {
    -ms-grid-columns: minmax(0, 1fr) [3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media all and (min-width: 1200px) {
  #page-top:not(.single-post) .featured-category .carousel-inner .item.active,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.next,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.prev {
    -ms-grid-columns: minmax(0, 1fr) [4];
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media all and (min-width: 1500px) {
  #page-top:not(.single-post) .featured-category .carousel-inner .item.active,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.next,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.prev {
    -ms-grid-columns: minmax(0, 1fr) [5];
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media all and (min-width: 1800px) {
  #page-top:not(.single-post) .featured-category .carousel-inner .item.active,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.next,
  #page-top:not(.single-post) .featured-category .carousel-inner .item.prev {
    -ms-grid-columns: minmax(0, 1fr) [6];
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

#page-top:not(.single-post) .featured-category .column-view-item {
  position: static;
  float: none;
  width: 100%;
  height: unset;
  padding: 0;
  margin: 0;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  gap: 0.5rem;
  width: 100%;
  height: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  row-gap: 0;
  background-color: #1a1a1a;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  #page-top:not(.single-post) .featured-category .column-view-item > .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}

#page-top:not(.single-post) .featured-category .column-view-item > .post:hover .thumb-meta-wrapper .tile-text-area .post-details-activate .tile-title {
  height: unset !important;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post:hover .thumb-meta-wrapper .tile-text-area .post-details-activate .post-details-icon {
  display: block;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-wrapper {
  position: relative;
  float: none;
  width: 100%;
  height: 100%;
  border: none;
  background: unset;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-wrapper .thumb-link {
  padding-bottom: 75%;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-wrapper .thumb-link img:not(.play-hover-button),
#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-wrapper .thumb-link iframe,
#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-wrapper .thumb-link video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: contain;
  object-position: center;
  background: #fff;
  max-height: unset;
  max-width: unset;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-meta-wrapper {
  position: relative;
  float: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  #page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-meta-wrapper {
    padding: 0.5rem;
  }
}

#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-meta-wrapper .tile-text-area {
  margin: 0 1rem 0 0;
  padding: 0;
}

#page-top:not(.single-post) .featured-category .column-view-item > .post .thumb-meta-wrapper .tile-text-area .post-details-activate .tile-title {
  height: unset !important;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item {
  position: static;
  float: none;
  width: 100%;
  height: unset;
  padding: 0;
  margin: 0;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  gap: 0.5rem;
  width: 100%;
  height: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  row-gap: 0;
  background-color: #1a1a1a;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  #page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post:hover .thumb-meta-wrapper .tile-text-area .post-details-activate .tile-title {
  height: unset !important;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post:hover .thumb-meta-wrapper .tile-text-area .post-details-activate .post-details-icon {
  display: block;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-wrapper {
  position: relative;
  float: none;
  width: 100%;
  height: 100%;
  border: none;
  background: unset;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-wrapper .thumb-link {
  padding-bottom: 75%;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-wrapper .thumb-link img:not(.play-hover-button),
#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-wrapper .thumb-link iframe,
#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-wrapper .thumb-link video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: contain;
  object-position: center;
  background: #fff;
  max-height: unset;
  max-width: unset;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-meta-wrapper {
  position: relative;
  float: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  #page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-meta-wrapper {
    padding: 0.5rem;
  }
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-meta-wrapper .tile-text-area {
  margin: 0 1rem 0 0;
  padding: 0;
}

#page-top:not(.single-post) #url-auth-suffix ~ #showcase_category .column-view-item > .post .thumb-meta-wrapper .tile-text-area .post-details-activate .tile-title {
  height: unset !important;
}
