/* SECTION Goldman Sans */
/* NOTE Thin */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629810057/GoldmanSans_W_31db7495-30b6-4c72-bc57-44ff2e3a6b33.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=7n94qYT62fsEnJXqOEHkZAYTE04%3D") format("woff2");
  font-weight: 200;
  font-style: normal;
}

/* NOTE Light */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629809759/GoldmanSans_W_ee4f25f4-ef66-4a44-8004-609bfcbde9a5.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=Q1gzv1W3zV5ZH9LRyAlhWfknXqo%3D") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* NOTE Regular */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629810060/GoldmanSans_W_9ebe422e-a1a1-428a-9791-57e18802f297.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=6YtivA%2BLrDu%2FYqYjELX4s8qkZRE%3D") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* NOTE Regular Italic */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629809751/GoldmanSans_W_33cfdf85-eef3-4dd1-aeef-67436d7f8049.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=JilpfVTgtBbf33OpTSRXrmdzjc4%3D") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* NOTE Medium */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629809756/GoldmanSans_W_c73293b8-2c23-4e8e-80ef-378c8e723209.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=k7Qiuod4MFqlReQCASKMoFYqgeg%3D") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* NOTE Medium Italic */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629810057/GoldmanSans_W_8ecf02a5-fa27-475d-90c4-6967ee40fa8c.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=IdvNDLsnxFGiM51uDWmbLZNJ33k%3D") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* NOTE Bold */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629809561/GoldmanSans_W_a7be850d-d37d-4855-872e-5a11bbc3d21b.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=tgwBhlWb80xlHR1Q0YRx43bK8uk%3D") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* NOTE Bold Italic */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629809751/GoldmanSans_W_1b860e4a-07ae-4fbd-a5c4-b2e528a6cca6.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=nLxsbpCUeR8UBd2%2B60ffBQSKUWY%3D") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* NOTE Black */
@font-face {
  font-family: "Goldman Sans";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSans_W_1630629809668/GoldmanSans_W_a8d7553d-e955-4646-b735-7c7ea7fbaebd.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=FmHVHC6elRRcc1GbeGKwkmTyFRY%3D") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* !SECTION */
/* SECTION Goldman Sans Condensed */
/* NOTE Regular */
@font-face {
  font-family: "Goldman Sans Condensed";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSansCd_W_1630629810105/GoldmanSansCd_W_e63a063b-3ee0-4aed-98b2-0eecb54f8607.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=lpgd9yi9Oqzs70TxlC24AfoKwiY%3D") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* NOTE Bold */
@font-face {
  font-family: "Goldman Sans Condensed";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/70cb74d6-c367-4916-ba70-3da8c853092a/content/assets/templates/template_background/GoldmanSansCd_W_1630629810118/GoldmanSansCd_W_f765752a-93c4-4940-89fc-e99d04f60fe4.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=USml4wcqqJXvzQV26iEFpdDeYW4%3D") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* !SECTION */
/* NOTE Important for compontent sizing */
html {
  font-size: 16px !important;
}

:root {
  /* NOTE Fonts */
  --font-sans: "Goldman Sans", Arial, sans-serif;
  --font-serif: "", serif;
  /* NOTE Colors */
  --clr-gs-brand: #7399c6;
  --clr-gs-header: #11294d;
  --clr-gs-white: #ffffff;
  --clr-gs-gray: #58575a;
  --clr-gs-gray-blue: #0e171f;
  --clr-gs-blue: #186ade;
  --clr-gs-blue-1: #1762cb;
  --clr-gs-lgray: #dce3e8;
  --clr-gs-lgray-1: #c7cfd4;
  --clr-gs-surf-lv1-hvr: rgba(245, 247, 248, 0.1);
  --clr-gs-surf-lv2-hvr: rgba(159, 177, 189, 0.2);
  --clr-gs-surf-lv3-hvr: rgba(159, 177, 189, 0.4);
  --clr-gs-surf-lv4-hvr: rgba(159, 177, 189, 0.6);
  --clr-gs-surf-lv5-hvr: rgba(42, 63, 77);
  /* NOTE Options */
  --event-name: "Event Name";
  --clr-accent: var(--clr-gs-brand);
  --img-login: url("https://s3.amazonaws.com/present.knowledgevision.com/account/0c383408-07cc-4a22-8fce-424d5f4e1b71/subaccount/3435346e-9ace-4321-bd47-b1ac618fa240/content/assets/templates/template_background/EventBanner_859x428__4__png_1658167616143/EventBanner_859x428__4__74f64b09-3e59-48e0-9f75-d6ec44afbe1c.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=vrMuUiMqGtoB9780H92PRcl1olA%3D");
  --img-home: url("https://view.knowledgevision.com/thumbnail/1246e47c45f7437fbe6e8bcd4b018472");
}

#page-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

#page-top .container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

#page-top .col-xs-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-10 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xs-12 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-10 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-s-12 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-10 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-m-12 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-10 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-l-12 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-10 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .col-xl-12 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#page-top .container-fluid > .navbar-collapse,
#page-top .container-fluid > .navbar-header,
#page-top .container > .navbar-collapse,
#page-top .container > .navbar-header {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media screen and (min-width: 992px) {
  #page-top .container-fluid > .navbar-collapse,
  #page-top .container-fluid > .navbar-header,
  #page-top .container > .navbar-collapse,
  #page-top .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
}

#page-top > .container:not(.login-container) {
  max-width: 100%;
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
  background: var(--clr-accent);
}

#page-top > .container:not(.login-container) .featured-knovio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1rem, 1fr) [2];
  grid-template-columns: repeat(2, minmax(1rem, 1fr));
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 2rem;
  max-width: 100%;
  width: 100%;
  max-height: none;
  height: auto;
  padding: 0;
  margin: 0 auto;
}

#page-top > .container:not(.login-container) .featured-knovio::before, #page-top > .container:not(.login-container) .featured-knovio::after {
  display: none;
  content: "";
}

#page-top > .container:not(.login-container) .featured-knovio > * {
  grid-column: auto / span 2;
}

@media screen and (min-width: 768px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 44.75rem;
  }
  #page-top > .container:not(.login-container) .featured-knovio > * {
    grid-column: auto / span 1;
  }
}

@media screen and (min-width: 992px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 58.5rem;
  }
}

@media all and (min-width: 1200px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 65.375rem;
  }
}

@media all and (min-width: 1500px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 84.125rem;
  }
}

@media all and (min-width: 1800px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 102.875rem;
  }
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post {
  width: 100%;
  max-height: none;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent {
  position: relative;
  width: 100%;
  padding: 56.25% 0 0;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info {
  width: 100%;
  height: auto;
  max-height: auto;
  margin: 0;
  padding: 0;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-title {
  font: 500 2rem/2.5rem var(--font-sans) !important;
  padding: 0;
  margin: 0 0 1rem 0;
  color: white !important;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-description {
  font: 400 1.25rem/1.75rem var(--font-sans) !important;
  color: white !important;
}

#main_navigation {
  font: 400 1rem/1.5rem var(--font-sans) !important;
}

#main_navigation > .container-fluid {
  padding-right: 66px;
}

@media screen and (max-width: 767px) {
  #main_navigation > .container-fluid {
    padding-right: 15px;
  }
}

#main_navigation .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main_navigation .navbar-header .navbar-brand {
  position: static;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  float: none;
  width: initial;
  height: 100%;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 1rem 0.5rem 0;
}

#main_navigation .navbar-header .navbar-brand::after {
  content: "";
  position: absolute;
  top: calc(50% - 18px);
  right: 15px;
  width: 36px;
  height: 36px;
  background-image: var(--img-home);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  #main_navigation .navbar-header .navbar-brand::after {
    content: none;
  }
}

#main_navigation .navbar-header .navbar-toggle {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  float: none;
  margin: 0 0.5rem 0 auto;
  padding: 0.5rem 1rem;
}

#main_navigation .nav li > .btn-group a,
#main_navigation .nav li > .btn-group button {
  font: 400 1rem/1.5rem var(--font-sans) !important;
}

@media screen and (min-width: 768px) {
  #main_navigation .nav li > .btn-group a,
  #main_navigation .nav li > .btn-group button {
    margin-top: -0.125rem;
  }
}

#main_navigation .nav #search-btn {
  margin: 1.125rem 0 0;
}

#main_navigation .nav #search-btn .fa-search {
  font-size: 1.625rem;
}

#url-auth-suffix ~ header {
  position: relative;
  padding-top: 0;
}

#url-auth-suffix ~ header .header-container {
  position: static;
  padding: 0;
  margin: 0 auto;
}

#url-auth-suffix ~ header .header-container .row {
  margin: 0;
}

#url-auth-suffix ~ header .header-container .row .col-xs-12 {
  position: static;
  padding: 0;
}

#url-auth-suffix ~ header .header-container .row .col-xs-12 .showcase-banner {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  width: 100%;
  max-height: none;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  z-index: -1;
}

#url-auth-suffix ~ header .header-container .row .col-xs-12 .showcase-description {
  display: block;
  width: 100%;
  margin: 6rem 0 !important;
  padding: 0 1rem !important;
}

#url-auth-suffix ~ header .header-container .row .col-xs-12 .showcase-description p {
  margin: 0 auto;
}

#url-auth-suffix ~ header .header-container .row .col-xs-12 .showcase-description p:nth-of-type(1) {
  font: 600 2.5rem/3.25rem var(--font-sans) !important;
  margin-bottom: 1.25rem;
  color: #ffffff !important;
}

#url-auth-suffix ~ header .header-container .row .col-xs-12 .showcase-description p:nth-of-type(2) {
  font: 500 2rem/2.5rem var(--font-sans) !important;
  color: #ffffff !important;
}

#url-auth-suffix ~ #showcase_category .container.posts {
  position: relative;
}

#url-auth-suffix ~ #showcase_category .container.posts::before {
  font: 500 2rem/2.5rem var(--font-sans) !important;
  content: "Tuesday, June 7";
  display: none;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  #url-auth-suffix ~ #showcase_category .container.posts::before {
    max-width: 46.75rem;
  }
}

@media screen and (min-width: 992px) {
  #url-auth-suffix ~ #showcase_category .container.posts::before {
    max-width: 60.5rem;
  }
}

@media all and (min-width: 1200px) {
  #url-auth-suffix ~ #showcase_category .container.posts::before {
    max-width: 67.375rem;
  }
}

@media all and (min-width: 1500px) {
  #url-auth-suffix ~ #showcase_category .container.posts::before {
    max-width: 86.125rem;
  }
}

@media all and (min-width: 1800px) {
  #url-auth-suffix ~ #showcase_category .container.posts::before {
    max-width: 104.875rem;
  }
}

header .header-container .showcase-title {
  font: 500 2rem/2.5rem var(--font-sans) !important;
}

header .header-container .showcase-description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}

header .header-container .showcase-description ul > li:nth-child(1) > a {
  font: 400 1rem/1.5rem var(--font-sans) !important;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--clr-gs-white) !important;
  background: var(--clr-gs-blue) !important;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header .header-container .showcase-description ul > li:nth-child(1) > a:hover, header .header-container .showcase-description ul > li:nth-child(1) > a:focus {
  background: var(--clr-gs-blue-1) !important;
}

header .header-container .showcase-description ul > li > a {
  font: 400 1rem/1.5rem var(--font-sans) !important;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000 !important;
  background: var(--clr-gs-lgray) !important;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header .header-container .showcase-description ul > li > a:hover, header .header-container .showcase-description ul > li > a:focus {
  background: var(--clr-gs-lgray-1) !important;
}

#showcase_category {
  padding: 0;
  height: auto !important;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#showcase_category .showcase-title {
  font: 500 2rem/2.5rem var(--font-sans) !important;
  margin: 2rem 0 1rem;
}

#showcase_category .container.posts:not(.groups) > .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1rem, 1fr) [3];
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  #showcase_category .container.posts:not(.groups) > .row {
    -ms-grid-columns: minmax(1rem, 1fr) [9];
    grid-template-columns: repeat(9, minmax(1rem, 1fr));
  }
}

@media all and (min-width: 1200px) {
  #showcase_category .container.posts:not(.groups) > .row {
    -ms-grid-columns: minmax(1rem, 1fr) [12];
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
  }
}

@media all and (min-width: 1500px) {
  #showcase_category .container.posts:not(.groups) > .row {
    -ms-grid-columns: minmax(1rem, 1fr) [15];
    grid-template-columns: repeat(15, minmax(1rem, 1fr));
  }
}

#showcase_category .container.posts:not(.groups) > .row::before, #showcase_category .container.posts:not(.groups) > .row::after {
  content: "";
  display: none;
}

#showcase_category .container.posts.groups {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#showcase_category .container.posts.groups > .row {
  margin: 0;
}

#showcase_category .container.posts.groups > .row .group-outer {
  position: relative;
  margin: 0;
  padding: 1rem;
}

#showcase_category .container.posts.groups > .row .group-outer:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-gs-surf-lv2-hvr);
  z-index: -1;
}

#showcase_category .container.posts.groups > .row .group-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1rem, 1fr) [3];
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #showcase_category .container.posts.groups > .row .group-inner {
    max-width: 44.75rem;
  }
}

@media screen and (min-width: 992px) {
  #showcase_category .container.posts.groups > .row .group-inner {
    max-width: 58.5rem;
    -ms-grid-columns: minmax(1rem, 1fr) [9];
    grid-template-columns: repeat(9, minmax(1rem, 1fr));
  }
}

@media all and (min-width: 1200px) {
  #showcase_category .container.posts.groups > .row .group-inner {
    max-width: 65.375rem;
    -ms-grid-columns: minmax(1rem, 1fr) [12];
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
  }
}

@media all and (min-width: 1500px) {
  #showcase_category .container.posts.groups > .row .group-inner {
    max-width: 84.125rem;
    -ms-grid-columns: minmax(1rem, 1fr) [15];
    grid-template-columns: repeat(15, minmax(1rem, 1fr));
  }
}

@media all and (min-width: 1800px) {
  #showcase_category .container.posts.groups > .row .group-inner {
    max-width: 102.875rem;
  }
}

#showcase_category .container.posts.groups > .row .group-inner > .list-view-item {
  display: block;
}

#page-top .list-view-item {
  float: none !important;
  position: static !important;
  display: none;
  grid-column: auto / span 3;
  width: 100%;
  height: initial;
  margin: 0 !important;
  padding: 0 !important;
  border: 0.0625rem var(--clr-gs-brand) solid;
}

#page-top .list-view-item .post {
  float: none !important;
  position: static !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem;
  width: 100% !important;
  height: 100%;
  padding: 0.5rem;
  background: white;
}

#page-top .list-view-item .post .thumb-wrapper {
  float: none !important;
  position: relative !important;
  width: 100% !important;
  height: 0px !important;
  padding: 75% 0 0;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link .thumb {
  max-width: 100%;
  width: 100%;
  max-height: none;
  height: initial;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
  background: none;
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link .newLabel {
  top: 0;
  right: 0;
  z-index: 10;
}

#page-top .list-view-item .post .thumb-meta-wrapper {
  float: none !important;
  position: static !important;
  height: 100%;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area {
  margin: 0;
  padding: 0;
}

#page-top .list-view-item .post .thumb-meta-wrapper .post-details-activate {
  padding: 0 1.5rem 0 0;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-title,
#page-top .list-view-item .post .thumb-meta-wrapper .tile-title > a {
  font: 400 1.25rem/1.75rem var(--font-sans) !important;
  margin: 0 0 0.5rem;
  padding: 0;
  color: black !important;
}

#page-top .list-view-item .post .thumb-meta-wrapper .page-description,
#page-top .list-view-item .post .thumb-meta-wrapper .list-page-description {
  font: 400 1rem/1.5rem var(--font-sans) !important;
  margin: 0;
  color: black !important;
}

#page-top .list-view-item .post .thumb-meta-wrapper .post-details-icon {
  top: 0;
  right: 0.25rem;
}

#page-top .list-view-item .post:hover .thumb {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#page-top .group-header {
  pointer-events: none !important;
  border: none;
}

#page-top .group-header .post {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  background: none;
}

#page-top .group-header .post .thumb-wrapper {
  display: none;
}

#page-top .group-header .post .thumb-meta-wrapper {
  height: initial;
}

#page-top .group-header .post .thumb-meta-wrapper .tile-text-area {
  margin: 0;
  padding: 0;
}

#page-top .group-header .post .thumb-meta-wrapper .link-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
}

#page-top .group-header .post .thumb-meta-wrapper .tile-title,
#page-top .group-header .post .thumb-meta-wrapper .tile-title > a {
  font: 500 2rem/2.5rem var(--font-sans) !important;
  margin: 0;
  padding: 0;
  color: black !important;
}

#page-top .group-header .post .thumb-meta-wrapper .list-page-description {
  font: 500 1.5rem/2rem var(--font-sans) !important;
  margin: 0;
  padding: 0;
  color: black !important;
}

.column-view-item {
  grid-column: auto / span 3;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.column-view-item .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100% !important;
  height: 100% !important;
  padding: 1rem;
  border: 0.0625rem var(--clr-gs-blue) solid;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  overflow: hidden;
}

.column-view-item .post .thumb-wrapper {
  float: none !important;
  position: relative !important;
  width: 100%;
  height: 0 !important;
  padding: 56.25% 0 0;
  background: none;
  border: none;
}

.column-view-item .post .thumb-wrapper .thumb-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.column-view-item .post .thumb-wrapper .thumb-link .thumb {
  max-width: 100%;
  width: 100%;
  max-height: none;
  height: initial;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  background: none;
}

.column-view-item .post .thumb-wrapper .thumb-link .newLabel {
  z-index: 10;
}

.column-view-item .post .thumb-meta-wrapper {
  float: none !important;
  position: static !important;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.column-view-item .post .thumb-meta-wrapper .tile-title {
  font: 400 1rem/1.5rem var(--font-sans) !important;
}

.column-view-item .post:hover .thumb {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

footer {
  min-height: 5rem;
}

.modal #postDetailsImage {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal .post-details-title {
  color: black !important;
}

.modal .details-speaker-container {
  height: auto;
}

.modal .details-speaker-image-wrapper {
  display: none;
}

.modal .details-speaker-metadata,
.modal .details-speaker-description {
  margin-left: 0;
}

.modal #postDetailsMetadata,
.modal #postDetailsDescription {
  display: none;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  font-family: var(--font-sans);
}

.login-container::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.login-container::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  background-image: var(--img-login);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  opacity: 0.65;
}

.login-container .row {
  display: block;
  position: releative;
  width: 100%;
  margin: 1rem 0 0 !important;
  z-index: 1;
}

.login-container .row .col-lg-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0 1rem 1rem;
}

.login-container .row .col-lg-6 img {
  max-width: 100% !important;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
}

.login-container .row .col-lg-6 h3 {
  font: 500 2.5rem/3.25rem var(--font-sans) !important;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  margin-top: 16rem;
  color: white !important;
  max-width: 75%;
  margin: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .login-container .row .col-lg-6 h3 {
    /*display: none;*/
  }
}

.login-container .row .col-lg-6 p:empty {
  display: none;
}

.login-container .row .col-lg-6 form {
  width: 25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: var(--clr-gs-gray-blue);
  color: #7a909e;
}

.login-container .row .col-lg-6 form label {
  font-weight: normal;
}

.login-container .row .col-lg-6 form .form-group:last-of-type::before {
  content: "";
  display: block;
  margin: 1rem 0;
  text-align: left;
}

.login-container .row .col-lg-6 form .btn-primary {
  font: 400 1rem/1.5rem var(--font-sans) !important;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--clr-gs-white) !important;
  background: var(--clr-gs-blue) !important;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin: 0 auto;
  border-width: 0;
}

.login-container .row .col-lg-6 form .btn-primary:hover, .login-container .row .col-lg-6 form .btn-primary:focus {
  background: var(--clr-gs-blue-1) !important;
}

#page-top.single-post #showcase_category_post {
  padding: 0;
}

#page-top.single-post #showcase_category_post .tile-text {
  background: var(--clr-gs-brand);
}

#page-top.single-post #showcase_category_post .tile-text #page-title {
  font: 500 1.25rem/1.75rem var(--font-sans) !important;
  color: white !important;
}

#page-top.single-post #showcase_category_post .tile-text .navigation-link-title span {
  font: 400 1rem/1.5rem var(--font-sans) !important;
  color: white !important;
}

#page-top.single-post #showcase_category_post .tile-text .navigation-link-title i {
  color: white !important;
}

/** Showcase Changes **/
#page-top .column-view-item .tile-title,
#page-top .list-view-item .tile-title {
  word-break: keep-all !important;
}

#page-top .list-view-item .tile-title {
  height: auto !important;
}

.modal .details-speaker-title:empty {
  display: none;
}

#page-top.single-post .post .tile-area {
  display: none;
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link .thumb,
#page-top .list-view-item .post .thumb-wrapper .thumb-link {
  max-height: unset;
  max-width: unset;
}

/* Display block for header on Safari */
@media not all and (min-resolution: 0.001dpcm) {
  #url-auth-suffix ~ header {
    display: block !important;
  }
}

.login-container .row .col-lg-6 form .form-group:last-of-type::before {
  content: "Your Personal Data: Goldman Sachs may collect and process information about you (independently), in connection with your attendance at the event, that may be subject to data protection laws. For more information about how Goldman Sachs use and disclose your personal data, how we protect your information, our legal basis to use your information, your rights and who you can contact, please refer to: www.gs.com/privacy-notices.";
  display: block;
  margin: 1rem 0;
  text-align: left;
}

#page-top .list-view-item .thumb-link,
#page-top .column-view-item .thumb-link {
  max-width: 100%;
  max-height: unset;
}

#page-top .list-view-item .thumb-wrapper {
  display: block;
}

#page-top .login-container .row .col-lg-6 {
  display: grid;
  grid-template-columns: 65% 45%;
  grid-template-rows: 50% 50%;
  align-items: center;
}

#page-top .login-container .row .col-lg-6 p:not(.validation-error-msg) {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  display: block;
  margin-bottom: auto;
}

#page-top .login-container .row .col-lg-6 form {
  grid-row: 1 / span 2;
}

@media only screen and (max-width: 900px) {
  #page-top .login-container .row .col-lg-6 {
    grid-template-columns: 100%;
    grid-template-rows: min-content;
  }
  #page-top .login-container .row .col-lg-6 p:not(.validation-error-msg) {
    grid-column: auto;
    grid-row: auto;
  }
  #page-top .login-container .row .col-lg-6 form {
    grid-row: auto;
    width: 100%;
    margin-top: 2rem;
  }
}
