/* fonts for AvenirLTPro */
@font-face {
  font-family: "Avenir";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/AvenirLTStd_Light_otf_1657131945984/AvenirLTStd_Light_72a50fd0-ad91-46f3-817c-3f4223e3d63c.otf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=uvSuV%2FeDRL432b%2B4rwDxLFjvicw%3D");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/AvenirLTStd_Book_otf_1657131945944/AvenirLTStd_Book_a1e46202-61f7-40be-83a9-a419968c2e44.otf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=2MPBWm6ZBOc%2Bzvzf9lPHo77jh0Q%3D");
  font-weight: 200;
}

@font-face {
  font-family: "Avenir";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/AvenirLTStd_Roman_otf_1657131945957/AvenirLTStd_Roman_9cd1b675-2716-4f0f-a26c-a4655b8a3d07.otf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=OhZhTGE6Aw07ZG%2BCfT77xp6frXw%3D");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/AvenirLTStd_Medium_otf_1657131945967/AvenirLTStd_Medium_c6e03f18-8748-4e23-a19d-f4644829d8ef.otf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=jXdMU%2Bh0eohndfy2NELnKmpIsxc%3D");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/AvenirLTStd_Heavy_otf_1657131945981/AvenirLTStd_Heavy_9f1d6c8c-1b7d-47ce-9c90-40f703c4ad90.otf?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=8MkMvotNVymFfRo2ijKaP9npffE%3D");
  font-weight: 500;
}

:root {
  --login-bkg: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/1800_trading_quantitativetrading_jpeg_1657135104740/1800_trading_quantitativetrading_c5c7c83c-0d2b-4889-93b6-0bae13c1e714.jpeg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=5owcPD3bEkZAofKX05w8OU7V4HU%3D");
  --primary-color: #ffffff;
  --header-button-color: #ffffff;
  --header-button-bkg: #0096db;
  --header-gradient: linear-gradient(90deg, #08359c 0, rgba(0, 54, 87, 0.2) 100%);
  --banner-position: center;
}

html {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 16px;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 1rem;
}

#page-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding-top: 75px;
  padding-bottom: 0;
}

#page-top #main_navigation {
  border-bottom: none;
}

#page-top #main_navigation > .container-fluid {
  padding-right: 66px;
}

@media screen and (max-width: 767px) {
  #page-top #main_navigation > .container-fluid {
    padding-right: 15px;
  }
}

#page-top #main_navigation .navbar-brand {
  position: static;
  height: unset;
  width: unset;
  padding: unset;
  padding-left: 1rem;
}

#page-top #main_navigation .navbar-brand .showcase-logo {
  max-height: 75px;
  padding: .5rem;
}

#page-top #main_navigation_collapse {
  margin-top: 1.1875rem;
}

@media screen and (min-width: 768px) {
  #page-top #main_navigation_collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
  }
}

#page-top #main_navigation_collapse .nav:nth-of-type(2) {
  margin-top: .25rem;
}

#page-top #main_navigation_collapse .nav:nth-of-type(2) li > a {
  padding-top: 0.375rem;
}

#page-top #main_navigation_collapse .nav:nth-of-type(2) li > .btn-group {
  display: flex;
  align-items: center;
}

#page-top #main_navigation_collapse .nav:nth-of-type(2) li > .btn-group a, #page-top #main_navigation_collapse .nav:nth-of-type(2) li > .btn-group button, #page-top #main_navigation_collapse .nav:nth-of-type(2) li > a {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

#page-top #main_navigation_collapse .nav:nth-of-type(2) li > .btn-group .dropdown-menu li button {
  padding: .5rem;
}

#page-top #main_navigation_collapse .nav:nth-of-type(2) li > .btn-group button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-top #main_navigation_collapse .nav #search-btn {
  width: 1.625rem;
  height: 1.625rem;
  margin: 0 0.9375rem;
}

#page-top #main_navigation_collapse .nav #search-btn .fa-search {
  font-size: 1.625rem;
}

#page-top #main_navigation_collapse .nav #user-options-dropdown {
  margin-top: -0.125rem;
}

#page-top #main_navigation_collapse .nav #user-options-dropdown .dropdown-toggle {
  padding: 0 0.9375rem;
}

#page-top header:nth-child(3) .header-container .row .showcase-description {
  padding-top: 1rem;
}

#page-top header:nth-child(3) .header-container .row .showcase-description ul {
  padding-left: 0;
}

#page-top header:nth-child(3) .header-container .row .showcase-description ul:not(:last-of-type) {
  border-bottom: 1px solid #ffdede;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

#page-top header:nth-child(3) .header-container .row .showcase-description ul li {
  font-size: 1rem;
  margin-left: 1rem;
  list-style-type: none;
}

#page-top header:nth-child(3) .header-container .row .showcase-description ul li:first-child {
  font-size: 1.5rem;
  margin-left: 0;
  margin-bottom: .25rem;
}

#page-top > .container:not(.login-container) {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(0deg, #00578E 270px, #00578E 100%);
  padding: 0;
  position: relative;
}

#page-top > .container:not(.login-container):after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/wrapper_pattern_static__1___1__png_1647015583984/wrapper_pattern_static__1___1__ff9f036e-4947-4c5d-9b9c-7ace53520183.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=sVMsUfi80FDme7GKkrp%2BRKndyvg%3D");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
}

#page-top > .container:not(.login-container) .featured-knovio {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 104rem;
  width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  gap: 2rem;
  padding: 4.5rem 0;
  z-index: 10;
  position: relative;
}

#page-top > .container:not(.login-container) .featured-knovio:before {
  display: none;
}

@media screen and (max-width: 767px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 45.875rem;
  }
}

@media screen and (min-width: 992px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 59rem;
  }
}

@media all and (min-width: 1200px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 65.875rem;
  }
}

@media all and (min-width: 1500px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 84.625rem;
  }
}

@media all and (min-width: 1800px) {
  #page-top > .container:not(.login-container) .featured-knovio {
    max-width: 103.375rem;
  }
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post {
  max-height: none;
  height: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 60%;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding: 56.25% 0 0;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post:after {
  content: '';
  display: block;
  background: #e31837;
  border-radius: 50%;
}

@media (max-width: 770px) {
  #page-top > .container:not(.login-container) .featured-knovio .featured-knovio-post {
    width: 90%;
    margin: 0 auto;
  }
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 40%;
  margin-left: 0;
}

@media (max-width: 1500px) {
  #page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info {
    max-height: 400px;
  }
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-title {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 300;
  padding-bottom: .5rem;
  margin-top: 0 !important;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-description {
  color: #e3e3e3;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  padding-right: .75rem;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-description::-webkit-scrollbar {
  width: 8px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-description::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  z-index: 3;
}

#page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info .featured-knovio-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -o-box-shadow: inset 0 0 #e2e2e2;
  -webkit-box-shadow: inset 0 0 #e2e2e2;
  background: #bfbfbf;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  #page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
  }
}

@media (max-width: 770px) {
  #page-top > .container:not(.login-container) .featured-knovio .featured-knovio-info {
    width: 90%;
    margin: 0 auto;
  }
}

#page-top #showcase_category {
  height: auto;
  display: block;
  padding: 0;
}

#page-top .featured-category {
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow: visible;
  background: #fbfbfb;
}

#page-top .featured-category > .container:not(.posts) .row {
  margin: 0;
}

#page-top .featured-category > .container:not(.posts) .row .col-xs-9 {
  padding: 0;
  text-align: left;
  width: 100%;
}

#page-top .featured-category > .container:not(.posts) .row .col-xs-9 .featured-category-title-link .showcase-title {
  padding: 0;
  margin-bottom: 2rem;
  font-family: "Avenir", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #003657 !important;
}

#page-top .featured-category > .container:not(.posts) .row .col-xs-2 {
  display: none;
}

#page-top .featured-category .container.posts .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
}

#page-top .featured-category .container.posts .row .carousel-control {
  color: #003657 !important;
}

#page-top .featured-category .container.posts .item.active, #page-top .featured-category .container.posts .item.prev, #page-top .featured-category .container.posts .item.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 639px) {
  #page-top .featured-category .container.posts .item.active, #page-top .featured-category .container.posts .item.prev, #page-top .featured-category .container.posts .item.next {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

#page-top .column-view-item {
  padding: 0 1rem 1rem;
}

#page-top .column-view-item .post {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #DDDDDD;
  box-shadow: none !important;
}

@media screen and (min-width: 640px) {
  #page-top .column-view-item .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

#page-top .column-view-item .post .thumb-wrapper {
  position: static;
  width: 100%;
  height: auto;
  float: none;
  background: none;
}

#page-top .column-view-item .post .thumb-wrapper .thumb-link {
  background-color: #ffffff;
  padding-bottom: 66.66667%;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
}

#page-top .column-view-item .post .thumb-wrapper .thumb-link img:not(.play-hover-button),
#page-top .column-view-item .post .thumb-wrapper .thumb-link iframe,
#page-top .column-view-item .post .thumb-wrapper .thumb-link video {
  position: absolute;
  width: 100%;
  height: 100% !important;
  left: 0;
  top: 0;
  object-fit: contain;
  object-position: center;
  max-width: unset;
  max-height: unset;
}

#page-top .column-view-item .post .thumb-meta-wrapper {
  height: 100%;
  width: 100%;
  float: none;
  background-color: #ffffff;
  transition: all .2s ease-in-out;
  position: relative;
}

#page-top .column-view-item .post .thumb-meta-wrapper:after {
  display: block;
  content: '';
  background-image: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/blue_1657135071775/blue_77093c69-e829-4435-9918-82ddd5cf9cf8.svg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=CKIEubrEZLArPbeETybaifkeJQw%3D");
  height: 50px;
  position: absolute;
  bottom: -2rem;
  right: -3rem;
  width: 100%;
  transform: rotate(-35deg);
  filter: brightness(1) saturate(1);
  -webkit-filter: brightness(1) saturate(1);
  transition: all .2s ease-in-out;
}

#page-top .column-view-item .post .thumb-meta-wrapper .tile-text-area {
  padding: 1.5rem 1.25rem;
  padding-bottom: 3rem;
}

#page-top .column-view-item .post .thumb-meta-wrapper .tile-text-area .post-details-activate {
  height: min-content;
  min-height: unset;
}

#page-top .column-view-item .post .thumb-meta-wrapper .tile-title,
#page-top .column-view-item .post .thumb-meta-wrapper .tile-title a {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #222222 !important;
  height: max-content !important;
}

#page-top .column-view-item .post .thumb-meta-wrapper .tile-title:hover,
#page-top .column-view-item .post .thumb-meta-wrapper .tile-title a:hover {
  color: #012169 !important;
}

#page-top .column-view-item:hover .post .thumb-meta-wrapper {
  background-color: #002492;
}

#page-top .column-view-item:hover .post .thumb-meta-wrapper .tile-title,
#page-top .column-view-item:hover .post .thumb-meta-wrapper .tile-title a {
  color: #ffffff !important;
}

#page-top .column-view-item:hover .post .thumb-meta-wrapper:after {
  filter: brightness(3) saturate(0);
  -webkit-filter: brightness(3) saturate(0);
}

#page-top .newLabel {
  z-index: 3;
}

#page-top #url-auth-suffix ~ header {
  padding-top: 0 !important;
}

#page-top #url-auth-suffix ~ header .container.header-container {
  max-width: unset;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
  padding: 3rem 0 3.5rem 0 !important;
  margin-bottom: 20px;
  position: relative;
  max-width: 104rem;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  min-height: 300px;
  z-index: 2;
  text-align: left;
  display: block;
}

@media screen and (max-width: 767px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
    max-width: 45.875rem;
  }
}

@media screen and (min-width: 992px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
    max-width: 59rem;
  }
}

@media all and (min-width: 1200px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
    max-width: 65.875rem;
  }
}

@media all and (min-width: 1500px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
    max-width: 84.625rem;
  }
}

@media all and (min-width: 1800px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description {
    max-width: 103.375rem;
  }
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p {
  font-size: 1.5rem;
  font-family: "Avenir", sans-serif;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p span {
  font-family: "Avenir", sans-serif;
  font-weight: 300;
  display: block;
  margin-bottom: .5rem;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:first-child {
  font-size: 1rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px #00000080;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(2) {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 1px 2px 3px #00000080;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(3) {
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px #00000080;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:last-child a {
  color: var(--header-button-color);
  border: 1px solid var(--header-button-bkg);
  background-color: var(--header-button-bkg);
  font-size: 1.15rem;
  text-decoration: none !important;
  padding: .75rem 1.25rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  white-space: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  font-weight: 300;
  line-height: 12px;
  display: inline-block;
}

#page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:last-child a:hover {
  background-color: var(--header-button-color);
  border: 1px solid var(--header-button-color);
  color: var(--header-button-bkg) !important;
}

/* styles for header */
.img-responsive.showcase-banner {
  margin: 0;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: var(--banner-position);
  width: 100%;
  height: 100%;
  left: 0;
  display: block;
  max-height: unset !important;
}

#page-top #url-auth-suffix ~ header .container.header-container .row > .col-xs-12:before {
  display: block;
  content: '';
  background: var(--header-gradient);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row > .col-xs-12:before {
    background: rgba(0, 54, 87, 0.75) !important;
  }
}

span.showcase-description p {
  max-width: 75%;
  font-size: 3rem;
  margin-right: auto;
  color: #ffffff;
  font-weight: 300;
}

@media (max-width: 1200px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(2) {
    font-size: 3rem;
  }
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p {
    font-size: 1.25rem;
  }
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(4), #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:last-child a {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(2), #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p,
  #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:nth-child(4), #page-top #url-auth-suffix ~ header .container.header-container .row span.showcase-description p:last-child a {
    text-align: left;
    margin-left: 0;
    max-width: 100%;
  }
}

#page-top #url-auth-suffix ~ header .showcase-title {
  display: none;
}

#page-top #url-auth-suffix ~ header .container.header-container .row > .col-xs-12 {
  overflow: hidden;
}

.modal #postDetailsImage {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal .post-details-title {
  color: #186ade;
}

.modal .details-speaker-image-wrapper {
  display: none;
}

.modal .details-speaker-metadata,
.modal .details-speaker-description {
  margin-left: 0;
}

.modal #postDetailsMetadata,
.modal #postDetailsDescription {
  display: none;
}

/* login */
#page-top #main_navigation:first-child {
  display: none;
}

#page-top .login-container {
  margin: 0;
  height: 100vh;
  width: 100% !important;
  background-image: var(--login-bkg);
  background-size: cover;
  background-position: top right;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: unset;
  position: absolute;
  z-index: 10;
}

@media (max-width: 350px) and (max-width: 350px) {
  #page-top .login-container {
    max-width: 300;
  }
}

#page-top .login-container .btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  transition: filter .2s ease-in-out;
  filter: brightness(1);
  width: 100%;
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  color: #003657 !important;
}

#page-top .login-container .btn-primary:hover {
  filter: brightness(0.75);
}

#page-top .login-container > .row {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  transform: translate(-50%, 0);
  margin-top: 60px !important;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  #page-top .login-container > .row {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  #page-top .login-container > .row {
    position: unset;
    left: unset;
    transform: unset;
    display: block;
    padding-bottom: 100px;
  }
}

#page-top .login-container > .row > div {
  margin: 0;
  background: #003657;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#page-top .login-container > .row > div h3 {
  font-family: "Avenir", Arial, sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  align-items: center;
}

#page-top .login-container > .row > div p {
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1.7;
  color: #fff !important;
  font-family: "Avenir", Arial, sans-serif;
}

#page-top .login-container > .row > div p br {
  display: none;
}

#page-top .login-container > .row > div p:empty {
  display: none;
}

#page-top .login-container > .row > div span, #page-top .login-container > .row > div a {
  font-family: "Avenir", Arial, sans-serif;
  color: #000;
}

#page-top .login-container > .row > div > .row {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  width: 100%;
}

#page-top .login-container > .row > div > .row img {
  max-width: 100% !important;
  margin: 0;
  width: 100%;
}

@media (max-width: 1100px) {
  #page-top .login-container > .row > div > .row img {
    max-height: 100px !important;
  }
}

#page-top .login-container > .row > div form {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: .75rem;
  order: 2;
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
  border-top: 1px solid var(--primary-color);
}

#page-top .login-container > .row > div form .form-group {
  grid-column: auto / span 2;
  position: relative;
  font-family: "Avenir", Arial, sans-serif;
  color: #ffffff;
  grid-column: 1 / span 4;
  font-weight: 300;
}

#page-top .login-container > .row > div form .form-group:first-child {
  grid-column: 1 / span 2;
}

#page-top .login-container > .row > div form .form-group:nth-child(2) {
  grid-column: 3 / span 2;
}

#page-top .login-container > .row > div form .form-group > span,
#page-top .login-container > .row > div form .form-group label span {
  color: red;
}

#page-top .login-container > .row > div form .form-group label {
  margin-bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-bottom: .25rem;
  color: #ffffff;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 300;
}

#page-top .login-container > .row > div form .form-group input, #page-top .login-container > .row > div form .form-group select {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  transition: z-index .15s ease-in-out, background-color .15s ease-in-out;
}

#page-top .login-container > .row > div form .form-group input:focus, #page-top .login-container > .row > div form .form-group select:focus {
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#page-top .login-container > .row > div form .form-group input:focus, #page-top .login-container > .row > div form .form-group input:valid, #page-top .login-container > .row > div form .form-group select:focus, #page-top .login-container > .row > div form .form-group select:valid {
  z-index: 3;
}

@media (max-width: 768px) {
  #page-top .login-container > .row > div form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
  #page-top .login-container > .row > div form .form-group {
    grid-column: auto/span 1 !important;
  }
}

footer {
  background-color: #002942;
  margin-top: auto;
}

footer .container .footer-container {
  padding: 1.5rem 0;
}

footer .container .footer-container p {
  margin: 0;
  color: #fff;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 400;
}

footer .container .footer-container p:not(:last-child) {
  margin-bottom: .5rem;
}

footer .container .footer-container a {
  text-decoration: underline;
}

#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ header {
  background: var(--login-bkg);
  background-size: cover;
  background-position: center;
  padding: 0;
  position: relative;
}

#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ header::before {
  background: var(--header-gradient);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
}

#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ header .header-container {
  position: relative;
  z-index: 5;
}

#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ header .header-container h1.showcase-title {
  font-weight: 400;
  text-shadow: 1px 1px 2px #00000080;
}

#page-top .column-view-item .post .thumb-meta-wrapper .tile-title {
  word-break: break-word !important;
}

#showcase_category_post {
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  #page-top .list-view-item .post .thumb-wrapper .thumb-link .play-hover-button {
    display: none;
  }
  #page-top .list-view-item .post .thumb-meta-wrapper {
    float: none;
    position: relative;
    margin-left: 0;
  }
}

#page-top #showcase_category .container.posts .row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
}

#page-top #showcase_category .container.posts .row:before {
  display: none;
}

#page-top #showcase_category .container.posts .list-view-item {
  height: auto;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
  grid-column: auto / span 6;
}

@media (max-width: 768px) {
  #page-top #showcase_category .container.posts .list-view-item {
    grid-column: auto / span 12;
  }
}

#page-top #showcase_category .container.posts .list-view-item .post {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: max-content;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: visible;
  height: 100%;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  background: none;
  border-bottom: none;
  overflow: visible;
  grid-column: 1 / span 2;
  margin-bottom: .5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-wrapper .thumb-link {
  padding-bottom: 56.25%;
  width: 100%;
  height: 0 !important;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  background: #ffffff;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-wrapper .thumb-link::after {
  content: "";
  background: #003a56;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  top: auto;
  left: 50%;
  bottom: -1.5rem;
  width: 3rem;
  height: 3rem;
  margin: 0;
  -webkit-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
  display: block;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-wrapper .thumb-link .play-hover-button {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: -1.5rem;
  width: 3rem;
  height: 3rem;
  margin: 0;
  -webkit-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
  display: block;
  opacity: 0.5;
  z-index: 1;
  display: block;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-wrapper .thumb-link .thumb {
  max-width: none;
  width: 100%;
  max-height: none;
  position: absolute;
  height: 100% !important;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  border: 1px solid #e2e2e2;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  height: max-content;
  width: 100%;
  margin: 0;
  color: #2e2e2e;
  grid-column: auto / span 2;
  margin-top: 2rem;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area {
  padding: 0;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header {
  margin: 0;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .tile-title {
  font-size: 2rem;
  font-weight: 400;
  padding: 0;
  height: auto !important;
  overflow: visible;
  margin-bottom: .5rem;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .tile-title a {
  font-size: 2rem;
  line-height: unset;
  font-weight: 600;
  padding: 0;
  height: auto !important;
  color: #2e2e2e !important;
  font-weight: 300;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .tile-title a:hover {
  text-decoration: underline;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .tile-title:hover {
  text-decoration: underline;
  color: #2e2e2e !important;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .page-description .list-page-description {
  font-size: 1.2rem;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .post-details-icon {
  display: none;
}

#page-top #showcase_category .container.posts .list-view-item .post .thumb-meta-wrapper .tile-text-area .link-header .post-icons-grid {
  display: none;
}

/* sub page styles */
#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ #showcase_category {
  padding-top: 1.25rem;
  padding-bottom: 3rem;
}

#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ #showcase_category .container.posts .row {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media screen and (max-width: 1024px) {
  #page-top:not(.single-post) #custom-fields-data + #main_navigation ~ #showcase_category .container.posts .row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  #page-top:not(.single-post) #custom-fields-data + #main_navigation ~ #showcase_category .container.posts .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 640px) {
  #page-top:not(.single-post) #custom-fields-data + #main_navigation ~ #showcase_category .container.posts .row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

#page-top:not(.single-post) #custom-fields-data + #main_navigation ~ #showcase_category .container.posts .row .column-view-item {
  grid-column: auto / span 1;
  padding: 0;
  height: 100%;
  width: 100%;
}

#page-top:not(.single-post) {
  background: #fbfbfb;
}

#page-top:not(.single-post) header:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 25px;
  --svg: url('https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/blue_1657135071775/blue_77093c69-e829-4435-9918-82ddd5cf9cf8.svg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=CKIEubrEZLArPbeETybaifkeJQw%3D');
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  background: #fbfbfb;
  z-index: 3;
}
