@font-face {
  font-family: 'Frutiger';
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/Fruitger_Light_woff2_1617200867350/Fruitger_Light_c2d93e65-528c-4915-9a18-2b6bd495cc92.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=AbmdAFya6YJ2tQTxPP84IOdM500%3D");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_source/Frutiger_Medium_woff2_1617200974809/Frutiger_Medium_64828d73-f449-41b6-a407-4e6306dfacab.woff2?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=AGUEEkPneHm%2FN4J6gLn5oqQ3RSQ%3D");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 16px;
}

#page-top .container, #page-top .col-lg-1, #page-top .col-md-1, #page-top .col-sm-1, #page-top .col-xs-1, #page-top .col-lg-2, #page-top .col-md-2, #page-top .col-sm-2, #page-top .col-xs-2, #page-top .col-lg-3, #page-top .col-md-3, #page-top .col-sm-3, #page-top .col-xs-3, #page-top .col-lg-4, #page-top .col-md-4, #page-top .col-sm-4, #page-top .col-xs-4, #page-top .col-lg-5, #page-top .col-md-5, #page-top .col-sm-5, #page-top .col-xs-5, #page-top .col-lg-6, #page-top .col-md-6, #page-top .col-sm-6, #page-top .col-xs-6, #page-top .col-lg-7, #page-top .col-md-7, #page-top .col-sm-7, #page-top .col-xs-7, #page-top .col-lg-8, #page-top .col-md-8, #page-top .col-sm-8, #page-top .col-xs-8, #page-top .col-lg-9, #page-top .col-md-9, #page-top .col-sm-9, #page-top .col-xs-9, #page-top .col-lg-10, #page-top .col-md-10, #page-top .col-sm-10, #page-top .col-xs-10, #page-top .col-lg-11, #page-top .col-md-11, #page-top .col-sm-11, #page-top .col-xs-11, #page-top .col-lg-12, #page-top .col-md-12, #page-top .col-sm-12, #page-top .col-xs-12 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#page-top header .header-container .showcase-title, #url-auth-suffix ~ header .header-container .showcase-title {
  font-size: 3rem !important;
  font-weight: 300 !important;
  line-height: 3rem;
}

#page-top .featured-category h3.showcase-title, .login-container .col-lg-6 > h3 {
  font-weight: 300;
  font-size: 2rem !important;
  line-height: 2rem !important;
}

#page-top .featured-knovio .featured-knovio-info .featured-knovio-title, #page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .tile-title,
#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .tile-title a, .modal .modal-content #postDetailsHeader .post-details-title {
  font-weight: 300;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

#page-top header .header-container .showcase-description p,
#page-top header .header-container .showcase-description li, #page-top .featured-knovio .featured-knovio-info .featured-knovio-description, #page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .page-description .list-page-description, .login-container .col-lg-6 > p, .login-container .col-lg-6 form .form-group .form-control {
  font-weight: 300;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  color: black;
}

#page-top {
  font-family: Frutiger, Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding-bottom: 0;
}

#page-top h1,
#page-top h2,
#page-top h3,
#page-top h4,
#page-top h5,
#page-top .tile-title {
  font-family: Frutiger, Arial, Helvetica, sans-serif;
  font-weight: 300 !important;
}

@media screen and (min-width: 992px) {
  #page-top .container {
    max-width: 60rem;
  }
}

@media all and (min-width: 1200px) {
  #page-top .container {
    max-width: 65rem;
  }
}

@media all and (min-width: 1500px) {
  #page-top .container {
    max-width: 70rem;
  }
}

@media all and (min-width: 1800px) {
  #page-top .container {
    max-width: 80rem;
  }
}

#page-top .row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

#page-top .navbar-default {
  font-family: Frutiger, Arial, Helvetica, sans-serif;
}

#page-top header .header-container {
  margin: 3rem auto 2rem;
}

#page-top header .header-container .showcase-title {
  margin-bottom: 1rem;
}

#page-top header .header-container .showcase-description {
  display: block;
  margin-bottom: 0;
  padding-top: 0px !important;
}

#page-top .featured-knovio {
  align-items: flex-start;
  max-height: none;
  height: auto;
  margin: 0;
  padding: 0;
  background: #efefef;
}

#page-top .featured-knovio .featured-knovio-post {
  width: 50%;
  height: min-content;
  box-shadow: none;
margin:0 auto;
}

#page-top .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding: 56.25% 0 0;
}

#page-top .featured-knovio .featured-knovio-post .KnowledgeVisionEmbeddedContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  #page-top .featured-knovio .featured-knovio-post {
    width: 100%;
  }
}

#page-top .featured-knovio .featured-knovio-info {
  width: 50%;
  height: 100%;
  padding: 0 1rem;
  margin-left: 0;
  overflow-y: auto;
/*  display: none !important;*/
}

#page-top .featured-knovio .sfeatured-knovio-info .featured-knovio-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0;
}

#page-top .featured-knovio .featured-knovio-info .featured-knovio-description {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
    background: none !important;
}

@media (max-width: 1500px) and (min-width: 1200px) {
  #page-top .featured-knovio .featured-knovio-info .featured-knovio-description {
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  #page-top .featured-knovio .featured-knovio-info .featured-knovio-description {
    font-size: 0.8125rem !important;
    line-height: 1.5 !important;
  }
}

@media (max-width: 1000px) {
  #page-top .featured-knovio .featured-knovio-info .featured-knovio-description {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
}

@media screen and (max-width: 991px) {
  #page-top .featured-knovio .featured-knovio-info {
    max-height: none;
    height: max-content;
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  #page-top .featured-knovio .featured-knovio-info {
    max-height: 16.3125rem;
  }
}

@media all and (min-width: 1200px) {
  #page-top .featured-knovio .featured-knovio-info {
    max-height: 17.71875rem;
  }
}

@media all and (min-width: 1500px) {
  #page-top .featured-knovio .featured-knovio-info {
    max-height: 19.125rem;
  }
}

@media screen and (max-width: 991px) {
  #page-top .featured-knovio {
    flex-direction: column;
  }
}

#page-top .featured-category {
  opacity: 0;
  padding-top: 0;
  padding-bottom: 20px;
  margin-top: 1rem;
  margin-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
}

@media (max-width: 500px) {
  #page-top .featured-category {
    margin-top: 2rem;
  }
}

#page-top .featured-category .featured-category-path {
  display: none !important;
}

#page-top .featured-category .carousel > .row {
  display: flex;
}

#page-top .featured-category h3.showcase-title {
  margin-bottom: 1.0rem;
}

#page-top .featured-category .carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

#page-top .featured-category .carousel-inner > .item.active {
  display: flex;
  flex-flow: row nowrap;
}

#page-top .featured-category .carousel-inner .item {
  display: flex;
}

#page-top .featured-category .carousel-inner .item .featured-post {
  width: auto;
}

@media (max-width: 768px) {
  #page-top .featured-category .carousel-inner {
    display: block;
  }
  #page-top .featured-category .carousel-inner .item .featured-post {
    width: 33%;
  }
}

@media (max-width: 768px) and (max-width: 500px) {
  #page-top .featured-category .carousel-inner .item {
    flex-wrap: wrap !important;
  }
  #page-top .featured-category .carousel-inner .item .featured-post {
    width: 100%;
  }
}

#page-top .featured-category .glyphicon {
  display: none;
}

#page-top .column-view-item {
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}

#page-top .column-view-item .post {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: none;
}

#page-top .column-view-item .post:hover {
  background: #efefef;
}

#page-top .column-view-item .post .thumb-wrapper {
  position: static;
  width: 100%;
  height: auto;
  float: none;
  background: transparent;
}

#page-top .column-view-item .post .thumb-wrapper .thumb {
  max-width: 13vw;
  width: 100%;
  max-height: none;
  height: auto;
}

@media (max-width: 1024px) {
    #page-top .column-view-item .post .thumb-wrapper .thumb {
      max-width: 350px;
    }
}

#page-top .column-view-item .post .thumb-meta-wrapper {
  display: none;
}

@media screen and (max-width: 767px) {
  #page-top .column-view-item {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  #page-top .column-view-item {
    width: 33.33%;
  }
}

#page-top .list-view-item {
  padding: 1.5rem 0.5rem;
}

#page-top .list-view-item .post {
  display: flex;
  flex-direction: row;
  align-items:center;
}

#page-top .list-view-item .post .thumb-wrapper {
  position: static;
  width: 50%;
  height: auto;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  #page-top .list-view-item .post .thumb-wrapper {
    width: 100%;
    margin-bottom: 1rem;
  }
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link {
  position: static;
  overflow: hidden;
  vertical-align: middle;
  background-color: transparent;
}



#page-top .list-view-item .post .thumb-wrapper .thumb-link .thumb {
  max-width: none;
  width: 100%;
  max-height: none;
  height: auto;
  transition: transform 1.5s ease-in-out;
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link .thumb:hover {
  transform: scale(1.05);
}

#page-top .list-view-item .post .thumb-wrapper .thumb-link .play-hover-button {
  display: none;
}

#page-top .list-view-item .post .thumb-meta-wrapper {
  width: 50%;
  height: auto;
  margin-left: 0;
  margin-top: 0rem;
  padding: 0 1rem;
}

@media screen and (max-width: 991px) {
  #page-top .list-view-item .post .thumb-meta-wrapper {
    padding: 0 0;
  }
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area {
  padding: 0;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .tile-title,
#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .tile-title a {
  height: auto !important;
  margin-bottom: 1rem;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .tile-title:hover,
#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .tile-title a:hover {
  color: black !important;
  text-decoration: underline;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .page-description {
  margin-bottom: 1rem;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .page-description .list-page-description {
  color: black !important;
}

#page-top .list-view-item .post .thumb-meta-wrapper .tile-text-area .list-details-icon {
  display: none;
}

@media screen and (max-width: 991px) {
  #page-top .list-view-item .post .thumb-meta-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #page-top .list-view-item .post {
    flex-direction: column;
  }
}

#page-top .list-view-item:nth-of-type(even) {
  position: relative;
}

#page-top .list-view-item:nth-of-type(even)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100vw - 2rem);
  height: 100%;
  transform: translateX(-50%);
  background: #efefef;
  z-index: -1;
}

@media screen and (max-width: 991px) {
  #page-top .list-view-item:nth-of-type(even)::after {
    display: none;
  }
}

#page-top .list-view-item:nth-of-type(even) .post {
  flex-direction: row-reverse;
}

#page-top .list-view-item:nth-of-type(even) .post .thumb-wrapper .thumb-link .newLabel {
  left: 0;
  right: auto;
}

#page-top .list-view-item:nth-of-type(even) .post .thumb-meta-wrapper {
  padding-left: 0;
}

@media screen and (max-width: 991px) {
  #page-top .list-view-item:nth-of-type(even) .post {
    flex-direction: column;
  }
}

/*#url-auth-suffix ~ header {*/
/*  position: relative;*/
/*  display: block;*/
/*  min-height: 12.5rem;*/
/*  padding-top: 2rem;*/
/*  padding-bottom: 2rem;*/
/*  margin-bottom: 24vh;*/
/*}*/

/*#url-auth-suffix ~ header::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 45vh;*/
/*  background: url("https://s3.amazonaws.com/present.knowledgevision.com/account/5929fa6a-e792-4e8d-9e49-1c42c261865f/subaccount/e15046cd-c097-40d4-b347-95d27153d6b8/content/assets/templates/template_background/Disruptive_Microsite_2360x581_1643957914753/Disruptive_Microsite_2360x581_ace4e00f-7759-4f60-866e-71b23492b6b6.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=cqRgphidbqoo14Dfy4NKHUvXaTU%3D");*/
/*  background-size: cover;*/
/*  background-position: top;*/
/*  opacity: 1;*/
/*  z-index: -1;*/
/*}*/

#url-auth-suffix ~ header .header-container .showcase-description > p:first-child span[style="color:#FF0000"] {
  color: #ef0000 !important;
}

#url-auth-suffix ~ header .header-container .showcase-description > p:first-child span {
  line-height: 1.1;
  font-size: 38px;
}

#url-auth-suffix ~ .featured-category h3.showcase-title {
  display: none !important;
}

footer {
  background: #f5f5f5;
}

footer .footer-container {
  position: relative;
  padding: 2rem 0;
}

footer .footer-container > * {
  margin-bottom: 0.5rem;
  font-size: 0.875rem !important;
  font-weight: 300;
  color: #646464 !important;
}

footer .footer-container > ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 2rem;
}

footer .footer-container > ul li {
  list-style: none;
}

footer .footer-container > ul li:not(:first-child)::before {
  content: "|";
  padding: 0 0.5rem;
}

footer .footer-container a {
  color: #646464 !important;
}

.modal {
  font-weight: 300;
}

.modal .modal-content {
  padding-top: 0.5rem;
}

.modal .modal-content #postDetailsHeader {
  position: relative;
  height: auto;
  padding-bottom: 1.0625rem;
  box-shadow: none;
}

.modal .modal-content #postDetailsHeader::after {
  content: "";
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  height: 0.0625rem;
  background: #bebebe;
}

.modal .modal-content #postDetailsHeader #postDetailsMetadata {
  display: none;
}

.modal .modal-content #postDetailsBody {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.modal .modal-content #postDetailsBody .details-speaker-image-wrapper {
  height: 5.625rem;
  box-shadow: none;
}

.modal .modal-content #postDetailsBody .details-speaker-image-wrapper .details-speaker-image {
  border-radius: 50%;
}
/*
.login-container .col-lg-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  gap: 1.5rem;
  width: 100%;
  margin-left: 0;
}

.login-container .col-lg-6 > .row {
  grid-column: 1;
  grid-row: 1;
}

.login-container .col-lg-6 > .row img {
  max-width: 100% !important;
  width: 100%;
  max-height: none !important;
}

.login-container .col-lg-6 > h3 {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
}

.login-container .col-lg-6 > p {
  grid-column: 1;
  margin-bottom: 0;
}

.login-container .col-lg-6 > p:empty {
  display: none;
}

.login-container .col-lg-6 form {
  grid-row: 3;
}

.login-container .col-lg-6 form .form-group {
  padding: 0.5rem;
  margin-bottom: 1.6875rem;
  border: 1px solid #d7d7d7;
}

.login-container .col-lg-6 form .form-group label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1rem;
  color: #444;
}

.login-container .col-lg-6 form .form-group .form-control {
  height: auto;
  padding: 0;
  border: none;
  border-bottom: 1px #d7d7d7 solid;
  box-shadow: none;
  color: #444;
}

.login-container .col-lg-6 form .form-group .form-control:focus {
  border-color: #fff;
  box-shadow: none;
  color: black !important;
}

.login-container .col-lg-6 form .form-group .btn-primary {
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-color: #768c40;
  background: #768c40;
  color: #fff;
  transition: all 0.3s ease-in;
}

.login-container .col-lg-6 form .form-group .btn-primary:hover {
  border-color: #596930;
  background: #596930;
}

.login-container .col-lg-6 form .form-group:nth-last-child(1), .login-container .col-lg-6 form .form-group:nth-last-child(2) {
  padding: 0;
  margin: 0;
  border: none;
}

.login-container .col-lg-6 form .form-group:nth-last-child(2) {
  margin-bottom: 1.6875rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #444;
}

@media screen and (max-width: 991px) {
  .login-container .col-lg-6 form {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .login-container .col-lg-6 {
    display: flex;
    flex-direction: column;
  }
}
*/






/* RED LINE */
#page-top:not(.single-post) > *:not(header):not(.featured-category):not(#main_navigation):not(.login-container):not(.loader-dimmer::after):not(.modal):not(.modal-backdrop):not(footer)::after {
    content: "";
    display: block;
    width: 100%;
    margin: 1rem auto 1rem;
    padding-top: 1%;
    background: url(https://s3.amazonaws.com/present.knowledgevision.com/account/5929fa6a-e792-4e8d-9e49-1c42c261865f/subaccount/b9fed067-5842-4100-86e9-9ae460c4fc77/content/assets/templates/template_background/Group_400_1627888524970/Group_400_f006608b-fbc4-4292-a547-702b66264bea.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=TD0bgPUQVP%2FLmeEF7Da4WmxIXWc%3D) no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 767px) {
  #page-top:not(.single-post) > *:not(header):not(#main_navigation):not(.modal):not(.modal-backdrop):not(footer)::after {
    max-width: calc(100vw - 1rem);
  }
}

@media screen and (min-width: 768px) {
  #page-top:not(.single-post) > *:not(header):not(#main_navigation):not(.modal):not(.modal-backdrop):not(footer)::after {
    max-width: 44rem;
  }
}

@media screen and (min-width: 992px) {
  #page-top:not(.single-post) > *:not(header):not(#main_navigation):not(.modal):not(.modal-backdrop):not(footer)::after {
    max-width: 59rem;
  }
}

@media all and (min-width: 1200px) {
  #page-top:not(.single-post) > *:not(header):not(#main_navigation):not(.modal):not(.modal-backdrop):not(footer)::after {
    max-width: 64rem;
  }
}

@media all and (min-width: 1500px) {
  #page-top:not(.single-post) > *:not(header):not(#main_navigation):not(.modal):not(.modal-backdrop):not(footer)::after {
    max-width: 69rem;
  }
}

@media all and (min-width: 1800px) {
  #page-top:not(.single-post) > *:not(header):not(#main_navigation):not(.modal):not(.modal-backdrop):not(footer)::after {
    max-width: 79rem;
  }
}


.navbar-default .navbar-header .navbar-brand.text-brand {
    width: 100%;

}

.liveLabel {
    background: red !important;
    color:white!important;
}


.navbar-default #main-search-form {
    background-color: none !important;
    border: 1px solid none !important;
}

#page-top header:nth-child(3) .showcase-description p span {
    display: block;
    max-width: 100%;
}

.navbar-default #main-search-form {
    border: none !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    z-index: 1000 !important;
}

@media screen and (max-width: 768px) {
      .navbar-default .search-form .search-form-head {
        top: 60px !important;
    }
}

.navigation-link-caret {
    right: 0.5rem !important;
}

.tile-navigation-link {
    overflow: unset !important;
}

/* QA Queries Related CSS */
.navbar-default .navbar-header .navbar-brand.text-brand {
    width: auto !important;
}

@media screen and (max-width: 768px){
    .tile-area{
        margin-top: 0rem;
        display: block !important;
    }

    .tile-area table td[class*=col-],
    .tile-area table th[class*=col-]{
        display: block !important;
        float:left !important;
    }
}

/*reg page fix*/

/*
.login-container .col-lg-6 form {

    display: none;
}*/
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Frutiger";
}

#page-top #url-auth-suffix ~ header .header-container .showcase-title, .login-container .col-lg-6 > h3 {
  font-size: 36px !important;
  font-weight: 300 !important;
  line-height: 1.3;
}


#page-top .login-container  .login-container .col-lg-6 form .form-group .form-control {
  font-weight: 300;
  font-size: 1.7rem !important;
  font-family: 'Frutiger' !important;
  line-height: 1.5rem !important;
  color: black;
  margin-left: 0.1rem !important;
}
/*
.form-group {
    margin-bottom: 15px;
    display: none;
}
*/

.col-lg-6{
    margin-top: 10vh;
    background: #ffffff99;
    border-radius: 1rem;
}

.text-center {
    text-align: center;
    font-size: 3rem !important;
}

.col-lg-6 > p{
    color: black;
    font-family: 'Frutiger' !important;
    text-align: center;
    font-weight: 300;
    line-height: 2rem !important;
}

/*
#page-top .login-container {
    margin: 0;
    height: 100%;
    width: 100% !important;
    background-image: url("https://s3.amazonaws.com/present.knowledgevision.com/account/5929fa6a-e792-4e8d-9e49-1c42c261865f/subaccount/8b2da85d-6cef-4984-ac3f-84800fddff30/content/assets/templates/template_background/iStock_1086937634_jpg_1630586079593/iStock_1086937634_b4e1d230-55f6-448e-80ee-120b8aa025ba.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=X%2FE5F4bt5B7RfDd8aCrxQov5Dvs%3D");
    background-size: cover;
    background-position: top right;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: unset;
}
*/
/*reg-fix end*/

.full-description, .page-description p {
    overflow-y: hidden !important;
}

#page-top .featured-knovio {
    background: #efefef00 !important;
}

/*speaker titles fix*/
.details-speaker-organization {
    font-style: normal !important;
    font-family: 'Frutiger';
}

.details-speaker-title{
    font-style: normal !important;
    font-family: 'Frutiger';
}

.details-speaker-preview {
    font-style: normal !important;
    font-family: 'Frutiger';
}

#main_navigation_collapse .nav .btn-group > a[href='/week-1-sessions'] {
    color: #e60000 !important;
    text-shadow: 1px 1px 2px #999999;
    font-size: 16px;
}
#main_navigation_collapse .nav .btn-group > button[data-toggle='dropdown'] {
    padding-top: 22px !important;
    color: black !important;
}
#main_navigation_collapse .nav .btn-group > a[href='/week-2-sessions'] {
    color: #e60000 !important;
    text-shadow: 1px 1px 2px #999999;
    font-size: 16px;
}

/* Moving Featured KV Bottom of the page*//*
#page-top{
    display: flex;
    flex-direction: column;
    height:auto !important;
}

#page-top .container{
    order:1;
}

#page-top footer{
    order:2;
}*/


#page-top .list-view-item .post .thumb-wrapper .thumb-link .newLabel {
        left: calc(50% + 1rem);
        right: auto;
}

@media only screen and (max-width:992px){
    #page-top .list-view-item .post .thumb-wrapper .thumb-link .newLabel {
        left: auto;
    }
}

#main_navigation .container-fluid .navbar-header:only-child > button {
  display: none;
}



/*reg page edits 28/10/2021*/
/*
.text-center {
    display: none;
}
*/
.form-group {
    display: block !important;
}

.error-box {
    display: none !important;
}



.login-container .btn-primary {
background: #e60000 !important;
border-color: #e60000 !important;
}

.tile-title {
    word-break:break-word !important;
}
.btn-primary, .btn-primary:active, .btn-primary:hover {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}

/*Banner CSS*/
#page-top header .header-container{
    margin: 0 auto;
    max-width: 100%;
    width:100% !important;
}
header .showcase-banner{
    margin: auto !important;
    width: 100%;
    height: auto !important;
    display: block;
    max-height: 100%;
}




#page-top .login-container .row .text-center img {
    max-width: 100% !important;
}
.login-container .col-lg-6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row dense;
    gap: 1.5rem;
    width: 100%;
    margin-left: 0;
}

.login-container .col-lg-6 > .row {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

.login-container .col-lg-6 > .row img {
    max-width: 50rem !important;
    width: 100%;
    max-height: none !important;
}

.login-container .col-lg-6 > h3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: left;
}

.login-container .col-lg-6 > p {
    -ms-grid-column: 1;
    grid-column: 1;
    margin-bottom: 0;
}

.login-container .col-lg-6 > p:empty {
    display: none;
}

.login-container .col-lg-6 form {
    -ms-grid-row: 3;
    grid-row: 3;
}

.login-container .col-lg-6 form .form-group {
    padding: 0.5rem;
    margin-bottom: 1.6875rem;
    border: 1px solid #d7d7d7;
}

.login-container .col-lg-6 form .form-group label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem;
    color: #444;
}

.login-container .col-lg-6 form .form-group .form-control {
    height: auto;
    padding: 0;
    border: none;
    border-bottom: 1px #d7d7d7 solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444;
}

.login-container .col-lg-6 form .form-group .form-control:focus {
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black !important;
}

.login-container .col-lg-6 form .form-group .btn-primary {
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-color: #444;
    background: #444;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.login-container .col-lg-6 form .form-group .btn-primary:hover {
    background: #000;
    border-color: #000;
}

.login-container .col-lg-6 form .form-group:nth-last-child(1),
.login-container .col-lg-6 form .form-group:nth-last-child(2) {
    padding: 0;
    margin: 0;
    border: none;
}

.login-container .col-lg-6 form .form-group:nth-last-child(2) {
    margin-bottom: 1.6875rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #444;
}

@media screen and (max-width: 991px) {
    .login-container .col-lg-6 form {
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    .login-container .col-lg-6 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.thumb-link {
    max-height: 100% !important;
    max-width: 100% !important;
}


.newLabel {
    top: 6px !important;
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts > .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1rem, 1fr);
  grid-template-columns: repeat(1, minmax(1rem, 1fr));
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts > .row:before {
  display: none;
}

@media screen and (min-width: 768px) {
  #page-top #url-auth-suffix ~ #showcase_category .container.posts > .row {
    -ms-grid-columns: minmax(1rem, 1fr) minmax(1rem, 1fr) minmax(1rem, 1fr);
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
  }
}

#page-top #url-auth-suffix ~ #showcase_category .container.posts > .row .list-view-item {
    grid-column: 1 / -1;
    width: 100%;
}
