@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://openexchangeproduction.github.io/oe_css_themes/truist.css");

:root {
  --login-bkg: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/2_03Davy_100Archive_1642524524613/2_03Davy_100Archive_2090cd78-857f-48f5-beaf-bff321342127.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=obh4j0pdEvV8yd9HwoV3hsVEzLo%3D");
  --primary-color: #2E1A47;
  --card-color: #2E1A47;
  --card-text-color: #ffffff;
  --header-button-color: #2E1A47;
  --header-gradient: linear-gradient(-90deg, #ffffff 45%, transparent);
  --anchor-position: left;
  --play-button-color: #2E1A47;
  --view-all-button-color: #2E1A47;
  --bkg-color: linear-gradient(-270deg, #F5F5F5, #ffffff);
  --navigation-color: #2E1A47;
  --secondary-font: "Open Sans", sans-serif;
  --primary-font: "Open Sans", sans-serif;
}
