@import url("https://use.typekit.net/zke5hab.css");


$login-bkg: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/4357b1e0_5e26_4a9c_80f0_2ef83947645b_jpeg_1643927875257/4357b1e0_5e26_4a9c_80f0_2ef83947645b_75e7d519-065c-4d34-9626-6ce620c92bf0.jpeg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=fwW6OvbFAjYh9YW5qr3QD3HRPRU%3D");
$header-button-color: #005aa1;
$header-button-hover: #002D72;

@mixin grid($count, $space, $gap) {
  display: grid;
  grid-template-columns: repeat($count, minmax(0, $space));
  gap: $gap;
}

@mixin aspect-ratio-image($x, $y) {
  padding-bottom: unquote( ( $y / $x ) * 100 + '%' );
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;

  img,
  iframe,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    object-position: center;
    background: #eeeeee; // bc most a.r. images have an a.r. check to apply .contain (below) to vertical images
  }
}

* {
    box-sizing: border-box;
    font-family: 'interstate', Arial, sans-serif;
}

html {
  font-size: 14px;
  height: 100%;
  width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.instructions-page__main__accordians__single {
  list-style: none;
  padding: 0;

  &:first-child {
    a.toggle {
      margin-top: 0;
    }
  }

  .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;

    &.show {
      /*display: block;*/
    }
  }

  a.toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #005aa1;
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
    margin-top: 1rem;

    svg {
      transition: transform .2s ease-in-out;
    }

    &.rotate {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background: #002D72;
    }
  }
}

.instructions-page {
  background: $login-bkg;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 1rem 0 0 0;

  &__wrapper {
    max-width: 1024px;
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    @include grid(12, 1fr, 0 1rem);
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 4rem;

    hr {
      width: 100%;
      grid-column: auto / span 12;
    }
  }

  &__header,
  &__main {
    grid-column: auto / span 12;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &__info {
      h1 {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
    }

    img {
      object-fit: contain;
    }

    @media (max-width: 640px) {
      flex-wrap: wrap;

      img {
        order: -1;
      }
    }
  }

  &__main {
    @include grid(12, 1fr, 0 1rem);

    &__accordians {
      display: block;
      width: 100%;
      grid-column: auto / span 6;
      margin-bottom: 1rem;

      @media (max-width: 640px) {
        grid-column: auto / span 12;
      }

      &__single {
        .inner__image {
          display: flex;
          justify-content: center;
          margin-bottom: .75rem;

          &:not(:last-child) {
            margin-bottom: 1rem;
            border-bottom: 1px solid #e6e6e6;
          }

          img {
            object-fit: contain;
            width: 100%;
            border: 1px solid #e6e6e6;
          }
        }
      }
    }

    &__image {
      grid-column: auto / span 6;
      margin-bottom: 1rem;
      @include aspect-ratio-image(16, 9);
      border-radius: 6px;
      border: 1px solid #e6e6e6;

      img {
        object-fit: cover;
      }

      @media (max-width: 640px) {
        grid-column: auto / span 12;
      }
    }

    &__support {
      grid-column: auto / span 12;
      @include grid(12, 1fr, 0 1rem);
      margin-bottom: 1rem;

      &__single {
        grid-column: auto / span 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        border: 1px solid #002D72;
        border-radius: 6px;

        @media (max-width: 640px) {
          grid-column: auto / span 12;
        }

        &__title {
          margin: .75rem 0;
          font-size: 1.5rem;
          color: #002D72;
        }

        &__svg {
          width: 100%;
          max-height: 80px;
          text-align: center;

          svg {
            max-height: 80px;
            fill: #002D72;
          }
        }

        &__description {
          text-align: center;
        }

        &__button {
          text-decoration: none !important;
          display: inline-block;
          padding: 0.75rem;
          background-color: #005aa1;
          color: #fff !important;
          transition: background-color .2s ease-in-out;
          font-weight: 400;
          border: none;
          line-height: 1;
          margin-top: 0;
          font-weight: bold;
          border: none !important;
          cursor: pointer;

          &:hover {
            background-color: #002D72;
          }
        }
      }
    }
  }
}
