@import url("https://use.typekit.net/zke5hab.css");
* {
  box-sizing: border-box;
  font-family: 'interstate', Arial, sans-serif;
}

html {
  font-size: 14px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.instructions-page__main__accordians__single {
  list-style: none;
  padding: 0;
}

.instructions-page__main__accordians__single .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

.instructions-page__main__accordians__single .inner.show {
  /*display: block;*/
}

.instructions-page__main__accordians__single a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}

.instructions-page__main__accordians__single a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.instructions-page {
  background: url("https://s3.amazonaws.com/present.knowledgevision.com/account/openxsecure/subaccount/f73a01d5-5c3f-4162-8d9b-643ffd8ecafa/content/assets/templates/template_background/4357b1e0_5e26_4a9c_80f0_2ef83947645b_jpeg_1643927875257/4357b1e0_5e26_4a9c_80f0_2ef83947645b_75e7d519-065c-4d34-9626-6ce620c92bf0.jpeg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=fwW6OvbFAjYh9YW5qr3QD3HRPRU%3D");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 1rem 0 0 0;
}

.instructions-page__wrapper {
  max-width: 1024px;
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0 1rem;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 4rem;
}

.instructions-page__wrapper hr {
  width: 100%;
  grid-column: auto / span 12;
}

.instructions-page__header, .instructions-page__main {
  grid-column: auto / span 12;
}

.instructions-page__header {
  display: flex;
  justify-content: space-between;
}

.instructions-page__header__info h1 {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.instructions-page__header img {
  object-fit: contain;
}

.instructions-page__main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0 1rem;
}

.instructions-page__main__accordians {
  display: block;
  width: 100%;
  grid-column: auto / span 6;
  margin-bottom: 1rem;
}

.instructions-page__main__image {
  grid-column: auto / span 6;
  margin-bottom: 1rem;
  padding-bottom: 75%;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
}

.instructions-page__main__image img,
.instructions-page__main__image iframe,
.instructions-page__main__image video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: contain;
  object-position: center;
  background: #eeeeee;
}

.instructions-page__main__image img {
  object-fit: cover;
}

.instructions-page__main__support {
  grid-column: auto / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0 1rem;
  margin-bottom: 1rem;
}

.instructions-page__main__support__single {
  grid-column: auto / span 4;
}

.instructions-page__main__support__single_title {
  text-align: center;
}

.instructions-page__main__support__single__svg {
  width: 100%;
  max-height: 80px;
  text-align: center;
}

.instructions-page__main__support__single__svg svg {
  max-height: 80px;
}

.instructions-page__main__support__single__svg__description {
  text-align: center;
}

.instructions-page__main__support__single__svg__button {
  text-decoration: none !important;
  display: inline-block;
  margin: 1rem 1rem 0 0;
  padding: 0.75rem;
  background-color: #005aa1;
  color: #fff !important;
  transition: background-color .2s ease-in-out;
  font-weight: 400;
  border: none;
  line-height: 1;
  margin-top: 0;
  font-weight: bold;
  border: none !important;
  cursor: pointer;
}
